{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Your name - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Email address
    </h1>

    <p class="govuk-body">If you are a third party who is not acting in an official capacity for example you are a relative or friend, the email address provided must be for the citizen whose information you are requesting. </p>

    <form class="form"  method="post">

      {% set emailAddressHtml %}
      {{ govukInput({
        id: "pir-v3-email-address-yes",
        name: "pir-v3-email-address-yes",
        value: data['pir-v3-email-address-yes'],
        classes: "govuk-input--width-20",
        label: {
          text: "Email address",
          classes: "govuk-input--width-20"
        }
      }) }}
      {% endset -%}

    {{ govukRadios({
      name: "pir-v3-email-address",
      value: data['pir-v3-email-address'],
      fieldset: {
        legend: {
          text: "Do you have an email address?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes~/personal-information-request/v3/2",
          text: "Yes",
          conditional: {
            html: emailAddressHtml
          },
          checked: true if data["pir-v3-email-address"] === "yes"
        },
        {
          value: "no~/personal-information-request/v3/3",
          text: "No",
          checked: true if data["pir-v3-email-address"] === "no"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
