{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Previous names - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Customer details</span>

    <form class="form" action="16" method="post">

    {{ govukTextarea({
      name: "pir-v3-previous-addresses",
      id: "pir-v3-previous-addresses",
      value: data['pir-v3-previous-addresses'],
      rows: "8",
      label: {
        text: "Please provide details of any previous addresses?",
        isPageHeading: true,
        classes: "govuk-label--l"
      }
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
