{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Previous names - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Customer details</span>

    <form class="form" action="national-insurance-number" method="post">

    {{ govukTextarea({
      name: "write-to-abroad-address",
      id: "write-to-abroad-address",
      value: data['write-to-abroad-address'],
      rows: "8",
      label: {
        text: "Please provide details of any previous addresses?",
        isPageHeading: true,
        classes: "govuk-label--l"
      }
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button",
      href: "16"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
