{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Your National Insurance number - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Request for someone else</span>

      <h1 class="govuk-heading-l">
        Your National Insurance number
      </h1>

      <form class="form" action="dates" method="post">

        {% set ninoHtml %}
        {{ govukInput({
          id: "nino",
          name: "nino",
          value: data['nino'],
          classes: "govuk-input--width-10",
          label: {
            text: "Your National Insurance number",
            classes: "govuk-input--width-full"
          },
          hint: {
            text: "For example, QQ 12 34 56 C"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "national-insurance-number",
          fieldset: {
            legend: {
              text: "Can you tell us your National Insurance number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: ninoHtml
              },
              checked: true if data["national-insurance-number"] === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: true if data["national-insurance-number"] === "no"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          attributes: "govuk-button",
          href: "28"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
