{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Do you need the information in an alternative format? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Request an accessible format
      </h1>

      <form class="form" action="check-your-answers" method="post">

        {{ govukRadios({
          name: "pir-v3-alternative-format",
          value: data['pir-v3-alternative-format'],
          fieldset: {
            legend: {
              text: "Do you need an accessible format?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: alternativeFormatHtml
              },
              checked: true if data["alternative-format"] === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: true if data["alternative-format"] === "no"
            }
          ]
        }) }}

        {{ govukButton({
              text: "Continue",
              href: "/dwp-alternative-formats-plugin/start?alternative_formats_exit_url=/personal-information-request/v3/43",
              isStartButton: false
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
