{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Previous names - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Accessible formats available 
    </h1>

    <form class="form" action="" method="post">
    
      {{ govukSelect({
        id: "pir-v3-sort",
        name: "pir-v3-sort",
        label: {
          text: "Choose an accessible format"
        },
        items: [
          {
            value: "published",
            text: "Choose an accessible format"
          }
        ]
      }) }}
      
    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
