{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  What happens next - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "Request sent"
        }) }}

        <h2 class="govuk-heading-m">
          When you should get a reply to your personal information request 
        </h1>

        <p class="govuk-body">We’ll send you the personal information you have asked for as soon as possible. This will be within 1 month from when we get your request, as long as your request gives enough information to identify you and the information you ask for. If it doesn’t, we’ll contact you.</p>
  
    </div>
  </div>

{% endblock %}
