{% extends "layouts/main.html" %}

{% set serviceName %}
  Contact Employer Services 
{% endset %}

{% block pageTitle %}
  What happens next – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "Request sent to DWP"
        }) }}

        <h2 class="govuk-heading-l">
          What happens next
        </h2>

        <p class="govuk-body">Thank you for contacting Jobcentre Plus for support with recruitment. A local jobcentre Employer Adviser will aim to get back to you within 2 working days.</p>
       
        {{ govukInsetText({
          text: "The call back will be from a withheld or freephone number."
        }) }}
    
        <p class="govuk-body">You can also advertise your jobs through our <a href="#">Advertise a job service</a>.</p>

        <p class="govuk-body">
          <a href="#">
            What did you think of this service?
          </a> (takes 30 seconds)
        </p>
    </div>
  </div>

{% endblock %}
