{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/ask-for-a-maternity-allowance-claim-form.html" %}

{% block pageTitle %}
  Contact form - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">
        Your details
      </h1>  

      <form class="form"  method="post">

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--m"
          },
          id: "full-name",
          name: "fullName"
        }) }}
        
        {{ govukInput({
          label: {
            text: "Address line 1",
            classes: "govuk-label--m"
          },
          id: "address-line-1",
          name: "addressLine1",
          autocomplete: "address-line1"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Address line 2 (optional)",
            classes: "govuk-label--m"
          },
          id: "address-line-2",
          name: "addressLine2",
          autocomplete: "address-line2"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Town or city",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-town",
          name: "addressTown",
          autocomplete: "address-level2"
        }) }}
      
        {{ govukInput({
          label: {
            text: "County (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-two-thirds",
          id: "address-county",
          name: "addressCounty"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "addressPostcode",
          autocomplete: "postal-code"
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "language",
          fieldset: {
            legend: {
              text: "Do you want the claim form in English or Welsh?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "english",
              text: "English"
            },
            {
              value: "welsh",
              text: "Welsh"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Send your request",
          href: "what-happens-next"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
