{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.html" %}
 
{% block pageTitle %}
  Recoverable hardship payment - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Recoverable hardship payment</h1>

    <form class="form" method="post">

        {{ govukRadios({
        name: "recoverableHardshipPaymentHelp",
        fieldset: {
          legend: {
            text: "What do you need help with?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "hardship-payment-payment-reason~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v3/recoverable-hardship-payment-i-want-to-know-what-the-payment-is-for",
            text: "I want to know what the recoverable hardship payment is for"
          },
          {
            value: "hardship-payment-left-to-pay~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v3/recoverable-hardship-payment-how-much-i-have-left-to-pay",
            text: "How much I have left to pay"
          },
          {
            value: "hardship-payment-one-off-payment~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v3/recoverable-hardship-payment-i-want-to-make-a-one-off-payment",
            text: "I want to make a one-off payment"
          },
          {
            value: "hardship-payment-stuggling-to-repay~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v3/recoverable-hardship-payment-i-am-struggling-to-repay-outcome",
            text: "I am struggling to repay"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Next step"
      }) }}
    
    </form>  
  </div>
</div>

{% endblock %}
