{% extends "layouts/main.html" %}

{% set serviceName %}
  Ask for a Maternity Allowance claim form  
{% endset %}

{% block pageTitle %}
  Contact form - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Ask for a Maternity Allowance claim form
      </h1>  

      <h2 class="govuk-heading-l">
        Alternative formats
      </h2>  

      <p class="govuk-body">For alternative formats, such as braille, large print or audio CD, <a href="#" class="govuk-link">contact Jobcentre Plus</a>.</p>

      <p class="govuk-body">You can also <a href="#" class="govuk-link">print off a claim form</a>.</p>

      <form class="form" action="" method="post">

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "full-name",
          name: "fullName"
        }) }}
        
        {{ govukInput({
          label: {
            text: "Address line 1",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "address-line-1",
          name: "addressLine1",
          autocomplete: "address-line1"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Address line 2 (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "address-line-2",
          name: "addressLine2",
          autocomplete: "address-line2"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Town or city",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "address-town",
          name: "addressTown",
          autocomplete: "address-level2"
        }) }}
      
        {{ govukInput({
          label: {
            text: "County (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "address-county",
          name: "addressCounty"
        }) }}
      
        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          id: "address-postcode",
          name: "addressPostcode",
          autocomplete: "postal-code"
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "language",
          fieldset: {
            legend: {
              text: "Do you want the claim form in English or Welsh?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "english",
              text: "English"
            },
            {
              value: "welsh",
              text: "Welsh"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Send your request",
          href: "what-happens-next"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
