{% extends "layouts/main.html" %}
{% extends "layouts/headers/ask-for-a-maternity-allowance-claim-form.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-wo-back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Ask for a Maternity Allowance claim form
      </h1>

      <p class="govuk-body">Use this service to ask for a Maternity Allowance claim form to be posted to you.</p>

      <p class="govuk-body">The form has notes to help you fill it in.</p>

      {{ govukDetails({
        summaryText: "If you live in Northern Ireland",
        html: '<p class="govuk-body">This service is only available if you live in England, Scotland or Wales. There is a different process in Northern Ireland.</p>
        <p class="govuk-body"><a href="https://www.nidirect.gov.uk/articles/maternity-allowance" class="govuk-link">Find out how to ask for a claim form in Northern Ireland</a>.</p>'
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "contact-form",
        isStartButton: true,
        classes: "govuk-!-margin-bottom-9"
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You can also <a href="#" class="govuk-link">print off a claim form</a>.
      </p>


      <h2 class="govuk-heading-m">
        Alternative formats
      </h2>

      <p class="govuk-body">
        For alternative formats, such as braille, large print or audio CD, <a href="#" class="govuk-link">contact Jobcentre Plus</a>.
      </p>

    </div>
  </div>
{% endblock %}
