{% extends "layouts/main.html" %}

{% set serviceName %}
  Check your Maternity Allowance dates
{% endset %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set html %}
        <p class="govuk-notification-banner__heading">
          You can sign, date and return your form on or after 07/07/2024
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}

      <h1 class="govuk-heading-l">
        Your Maternity Allowance test period dates
      </h1>

      <h2 class="govuk-heading-m">
        You told us your baby was due:      
      </h2>

      <p class="govuk-body">15/01/2025 - <a href="index.html">change the date your baby is due</a></p>

      <h2 class="govuk-heading-m">
        Use these Test Period dates when you apply for Maternity Allowance    
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "The week that includes the date you expect to have your baby",
              classes: "govuk-!-width-two-thirds"
            },
            value: {
              text: "12/01/2025 to 18/01/2025",
              classes: "govuk-!-width-one-third"
            }
          },
          {
            key: {
              text: "The first day of your Test Period"
            },
            value: {
              text: "08/10/202"
            }
          },
          {
            key: {
              text: "The last day of your Test Period"
            },
            value: {
              text: "11/01/2025"
            }
          },
          {
            key: {
              text: "The 15th week before the week your baby is due starts on"
            },
            value: {
              text: "29/09/2024"
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
