{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
  Which benefit were you expecting a Cost of Living payment for? - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/mtb5-which-benefit-answer" method="post">

      {{ govukCheckboxes({
        name: "which-benefit",
        id: "which-benefit",
        fieldset: {
          legend: {
            text: "Which benefit were you expecting a Cost of Living payment for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
          value: "universal-credit",
          text: "Universal Credit"
          },
          {
          value: "jsa",
          text: "income-based Jobseeker's Allowance (JSA)"
          },
          {
          value: "esa",
          text: "income-related Employment and Support Allowance (ESA)"
          },
          {
          value: "income-support",
          text: "Income Support"
          },
          {
          value: "pension-credit",
          text: "Pension Credit"
          },
          {
          divider: "or"
          },
          {
          value: "tax-credits",
          text: "Tax Credits",
          behaviour: "exclusive"
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "If your benefit is not listed",
        html: '<p class="govuk-body">If your benefit is not listed here, <a href="#" class="govuk-link">find out if you&#39;re eligible for a Cost of Living Payment and payment dates for other benefits</a>.</p>'
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: "govuk-button"
      }) }}

    </form>

   
  </div>
</div>

{% endblock %}