{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
  Which benefit were you expecting a Cost of Living payment for? - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/mtb5-which-benefit-answer" method="post">

      {{ govukCheckboxes({
        id: "which-benefit",
        name: "which-benefit",
        value: data['which-benefit'],
        fieldset: {
          legend: {
            text: "Which benefit were you expecting a Cost of Living payment for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
          value: "Universal Credit",
          text: "Universal Credit"
          },
          {
          value: "income-based Jobseeker's Allowance (JSA)",
          text: "income-based Jobseeker's Allowance (JSA)"
          },
          {
          value: "income-related Employment and Support Allowance (ESA)",
          text: "income-related Employment and Support Allowance (ESA)"
          },
          {
          value: "Income Support",
          text: "Income Support"
          },
          {
          value: "Pension Credit",
          text: "Pension Credit"
          },
          {
          divider: "or"
          },
          {
          value: "Tax Credits",
          text: "Tax Credits",
          behaviour: "exclusive"
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "If your benefit is not listed",
        html: '<p class="govuk-body">If your benefit is not listed here, <a href="#" class="govuk-link">find out if you&#39;re eligible for a Cost of Living Payment and payment dates for other benefits</a>.</p>'
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: "govuk-button"
      }) }}

    </form> 
  </div>
</div>

{% endblock %}