{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
Did you have a joint claim with a partner between 26 January 2023 and 25 February 2023? - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
 {{ super() }}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/mtb5-joint-benefit-answer" method="post">

      {{ govukRadios({
        name: "joint-benefit",
        id: "joint-benefit",
        fieldset: {
          legend: {
          text: "Did you have a joint claim with a partner between 13 November 2023 and 12 December 2023?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
        text: "If you live with a partner, you both need to make a claim for Universal Credit. This is called a 'joint
        claim'."
        },
        items: [
          {
          value: "yes",
          text: "Yes"
          },
          {
          value: "no",
          text: "No"
          },
          {
          value: "not sure",
          text: "Not sure"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: "govuk-button"
      }) }}

    </form>

  </div>
</div>

{% endblock %}