{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
A joint claim
{% endblock %}

{% block beforeContent %}
 {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      A joint claim gets just one £299 payment
    </h1>

     <p class="govuk-body"> If you had a joint claim between 13 November 2023 and 12 December 2023, and if you were eligible, you should have
      got a single payment of £299.</p>
     
     <p class="govuk-body"> This is one payment for the joint claim. You will not get 299 each.</p>
     
     <p class="govuk-body">It should have been sent using the same payment method you used to get Universal Credit between those dates.</p>

    <form class="form" action="/mtb5-report-as-missing-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "still-report-missing-payment",
        id: "still-report-missing-payment",
        fieldset: {
        legend: {
          text: "Do you still want to report this payment as missing?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
        },
        items: [
          {
          value: "yes",
          text: "Yes"
          },
          {
          value: "no",
          text: "No"
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}