{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
Personal details - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>

    <h1 class="govuk-heading-l">
      Personal details
    </h1>

     <p class="govuk-body">
      If you're completing this form on behalf of another adult, enter their details here.
    </p>

    <form class="form" action="what-is-your-address" method="post">

    {{ govukInput({
      name: "full-name",
      id: "full-name",
      value: data['full-name'],
      label: {
        text: "What is your full name?",
        classes: "govuk-label--m"
      }
    }) }}

    {{ govukDateInput({
      id: "dob",
      namePrefix: "dob",
      fieldset: {
      legend: {
        text: "What is your date of birth?",
        classes: "govuk-fieldset__legend--m"
      }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          name: "day",
          value: data['dob-day'],
          classes: "govuk-input--width-2",
          inputmode: "numeric"
        },
        {
          name: "month",
          value: data['dob-month'],
          classes: "govuk-input--width-2",
          inputmode: "numeric"
        },
        {
          name: "year",
          value: data['dob-year'],
          classes: "govuk-input--width-4",
          inputmode: "numeric"
        }
      ]
    }) }}

    {{ govukInput({
      label: {
       text: "What is your National Insurance number?"
      },
      hint: {
        text: "It's on your National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'."
      },
      classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
      id: "nino",
      name: "nino",
      spellcheck: false,
      value: data['nino']
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}

    </form>
  </div>
</div>

{% endblock %}