{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
What is your telephone number? - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
 {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>

    {{ govukInput({
      label: {
        text: "What is your telephone number? (optional)",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      id: "telNumber",
      name: 'tel-number'
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "check-your-answers"
    }) }}

  </div>
</div>

{% endblock %}