{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
  What happens next - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "We've received your details"
    }) }}

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

     <p class="govuk-body">We will look into whether you should have had the £299 Cost of Living Payment.</p>
     
     <p class="govuk-body">We will usually get back to you within 2 weeks, but this may take longer.</p>
     
     <p class="govuk-body">We will phone you, write to you or put a message in your Universal Credit journal, if you have one.</p>

    <h2 class="govuk-heading-m">
      Do you want to report another missing Cost of Living Payment?
    </h2>

    <p class="govuk-body"><a class="govuk-link" href="index.html">Report another missing Cost of Living Payment</a></p>

    <h2 class="govuk-heading-m">
      Other benefits and financial support
    </h2>

    <p class="govuk-body">Check if you could get any <a class="govuk-link" href="#">further benefits or financial
        support</a>.</p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">
            What did you think of this service?
          </a> (takes 30 seconds)
        </p>
    
  </div>
</div>

{% endblock %}