{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
  What is your telephone number? - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">About you</span>

    <form class="form" action="check-your-answers" method="post">

    {{ govukInput({
      label: {
        text: "What is your telephone number? (optional)",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      id: "tel-number",
      name: "tel-number",
      value: data['tel-number']
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}

    </form>
  </div>
</div>

{% endblock %}