//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

.dwp-card {
    @include govuk-responsive-margin(5, "bottom");
    @include govuk-responsive-padding(5);
    border: 1px solid $govuk-border-colour;
    border-bottom: 3px solid $govuk-border-colour;

    h3 {
        margin-bottom: 0;
    }

    .design-history {
        @include govuk-responsive-margin(5, "top");
        @include govuk-responsive-padding(3);
        background-color: govuk-colour("light-grey");
        border-left: 4px solid $govuk-brand-colour;
        display: inline-block;
    
        .govuk-body {
            margin: 0;
        }
    }

    .govuk-table {
        @include govuk-responsive-margin(0, "bottom");

        .govuk-table__row:last-child td {
            border: 0;
        }
    }

    .govuk-tag {
        max-width: none;
    }
}

.dwp-timeline {
    @include govuk-responsive-margin(8, "top");
    
    .dwp-timeline__events--entry {
        @include govuk-responsive-margin(9, "bottom");

        p {
            @include govuk-responsive-margin(2, "bottom");
        }
        
        .dwp-timeline__events--entry-header {
            > * {
            display: inline-block;
            }

            a {
                @include govuk-responsive-margin(1, "right");
            }

            .govuk-tag {
                @include govuk-responsive-margin(1, "left");
            }
        }
    }
}