//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

.remove-govuk-crown .govuk-header__logo {
    display: none;
}

main.govuk-main-wrapper {
    @include govuk-responsive-padding(6, "top");
}

.dwp-header {
    border-bottom: 10px solid $govuk-brand-colour;

}

.app-big-bar {
    background-color: $govuk-brand-colour;
    height: auto;
    width: 100%;

    .app-big-bar__wrapper {
        margin: 0 auto;
        padding: 30px 0 10px 0;
    }

    h1 {
        @include govuk-responsive-margin(6, "bottom");
    }

    p {
        @include govuk-responsive-margin(4, "bottom");
   }

    h1, p {
        color: govuk-colour("white");
    }
}

#search-wrapper {
    @include govuk-responsive-margin(6, "bottom");
}

.app-card {
    @include govuk-responsive-margin(6, "bottom");
    border: 1px solid $govuk-border-colour;

    h2, h3 {
        @include govuk-responsive-margin(0, "bottom");  
    }

    .app-card-title-wrapper {
        background-color: govuk-colour("light-grey");
        @include govuk-responsive-padding(4, "top");
        @include govuk-responsive-padding(4, "bottom");
        @include govuk-responsive-padding(5, "left");
        @include govuk-responsive-padding(5, "right");  

        .app-card-title-description {
            @include govuk-responsive-margin(0, "bottom");  
            @include govuk-responsive-margin(2, "top");  
        }
    }

    .app-card-content {
        @include govuk-responsive-padding(4, "top");
        @include govuk-responsive-padding(6, "bottom");
        @include govuk-responsive-padding(5, "left");
        @include govuk-responsive-padding(5, "right");
    }

    /* .app-design-history {
        @include govuk-responsive-margin(5, "top");
        @include govuk-responsive-padding(3);
        background-color: govuk-colour("light-grey");
        border-left: 4px solid $govuk-brand-colour;
        display: inline-block;
    
        .govuk-body {
            margin: 0;
        }
    } */

    .govuk-button {
        @include govuk-responsive-margin(5, "top");
        @include govuk-responsive-margin(0, "bottom");
    }

    .govuk-table {
        @include govuk-responsive-margin(0, "bottom");

      /*   .govuk-table__row:last-child td {
            border: 0;
        } */
    }

    .govuk-tag {
        max-width: none;
    }
}

.dwp-timeline {
    @include govuk-responsive-margin(8, "top");
    
    .dwp-timeline__events--entry {
        @include govuk-responsive-margin(9, "bottom");

        p {
            @include govuk-responsive-margin(2, "bottom");
        }
        
        .dwp-timeline__events--entry-header {
            > * {
            display: inline-block;
            }

            a {
                @include govuk-responsive-margin(1, "right");
            }

            .govuk-tag {
                @include govuk-responsive-margin(1, "left");
            }
        }
    }
}

.hide {
    display: none;
}

.clear-search-link {
    @include govuk-responsive-margin(2, "left");
}