{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/contact-dwp-about-accessibility.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    rebrand: true
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact DWP about accessibility
      </h1>

      <p class="govuk-body">Use this form to contact us about the accessibility of a Department for Work and Pensions (DWP) website, service or document.</p>
      <p class="govuk-body">Do not include personal or financial information, such as your National Insurance number or bank account details. We will only reply to accessibility questions.</p>
      <p class="govuk-body">If your question is about a benefit or pension claim, contact the <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/">office responsible for paying your benefit</a>. If you have a question about a government service or policy, check the <a class="govuk-link" href="https://www.gov.uk/help">help pages</a>.</p>

      {{ govukInput({
        label: {
          text: "What is the name of the service or document?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "name-of-service",
        name: "nameOfService"
      }) }}

      {% set pageURL %}
        {{ govukInput({
          id: "page-url",
          name: "pageURL",
          classes: "govuk-input--width-20",
          label: {
            text: "Enter URL or name of page",
            classes: "govuk-label--s"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        name: "topic",
        fieldset: {
          legend: {
            text: "What's it to do with?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "whole-site",
            text: "Whole site"
          },
          {
            value: "specific-page",
            text: "Specific page",
            conditional: {
              html: pageURL
            }
          }
        ]
      }) }}  

      {% set assistiveSoftwareScreenMagnifier %}
        {{ govukInput({
          id: "page-url",
          name: "pageURL",
          label: {
            text: "Please describe the problems you are having using your screen magnifier tool",
            classes: "govuk-label--s"
          }
        }) }}
     {% endset -%}

     {% set assistiveSoftwareScreenReader %}
      {{ govukInput({
        id: "page-url",
        name: "pageURL",
        label: {
          text: "Please describe the problems you are having using your screen reader tool",
          classes: "govuk-label--s"
        }
      }) }}
     {% endset -%}

      {% set assistiveSoftwareVoiceRecognition %}
        {{ govukInput({
          id: "page-url",
          name: "pageURL",
          label: {
            text: "Please describe the problems you are having using your voice recognition tool",
            classes: "govuk-label--s"
          }
        }) }}
      {% endset -%}

      {% set assistiveSoftwareKeyboardOnly %}
        {{ govukInput({
          id: "page-url",
          name: "pageURL",
          label: {
            text: "Please describe the problems you are having using your keyboard",
            classes: "govuk-label--s"
          }
        }) }}
      {% endset -%}

      {{ govukCheckboxes({
        name: "assistive-software",
        fieldset: {
          legend: {
            text: "Which assistive software do you use?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "screen-magnifier",
            text: "I am using a screen magnifier e.g. ZoomText, Apple Zoom",
            conditional: {
              html: assistiveSoftwareScreenMagnifier
            }
          },
          {
            value: "screen-reader",
            text: "I am using a screen reader e.g. JAWS, FUSION, VoiceOver, NVDA",
            conditional: {
              html: assistiveSoftwareScreenReader
            }
          },
          {
            value: "voice-recognition",
            text: "I am using voice recognition e.g. Dragon, VoiceControl",
            conditional: {
              html: assistiveSoftwareVoiceRecognition
            }
          },{
            value: "keyboard-only",
            text: "I cannot use a mouse, I can only use a keyboard",
            conditional: {
              html: assistiveSoftwareKeyboardOnly
            }
          }
        ]
      }) }}  

      {% call govukFieldset({
        legend: {
          text: "Do you want a reply?",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

      <p class="govuk-body">If you'd like us to get back to you, please leave your details below.</p>

      {{ govukInput({
        label: {
          text: "Your name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "name",
        name: "name"
      }) }}

      {{ govukInput({
        label: {
          text: "Your email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "We'll only use this to reply to your message"
        },
        id: "email",
        name: "email"
        }) }}
      {% endcall %}

      {{ govukButton({
        text: "Send message",
        href: "what-happens-next"
      }) }}

    </div>
  </div>

{% endblock %}
