{% extends "layouts/main.html" %}
{% extends "layouts/headers/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.html" %}

{% block pageTitle %}
  Advance payment – I want to pause repayments - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Advance payment – I want to pause repayments </h1> <p class="govuk-body">If you’re struggling to pay your advance, you may be able to pause your repayment for a short time. This is only available in exceptional circumstances. </p><p class="govuk-body">You need to contact to Universal Credit. The quickest way to do this is to sign into your online Universal Credit account and write a message in your journal.</p><p class="govuk-body">If you need to call, you may get through quicker if you ring after 10am, Tuesday to Friday.</p>       
 
    <p class="govuk-body"><strong>Universal Credit </strong><br>Telephone: 0800 328 5644 <br>Welsh language: 0800 328 1744<br>Textphone: 0800 328 1344<br><a class="govuk-link" href="https://www.ngts.org.uk/">NGT text relay</a> – if you cannot hear or speak on the phone: 18001 then 0800 328 5644<br>Monday to Friday, 8am to 6pm<br><a class="govuk-link" href="https://www.gov.uk/call-charges/">Find out about call charges</a></p>
 
    <p class="govuk-body">Find out about <a class="govuk-link" href="https://www.gov.uk/guidance/find-out-about-money-taken-off-your-universal-credit-payment">money taken off your Universal Credit payment</a>.</p>

 </div>
</div>

{% endblock %}
