{% extends "layouts/main.html" %}
{% extends "layouts/headers/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.html" %}

{% block pageTitle %}
  Advance payment - What is your enquiry about? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {{ govukRadios({
        name: "advancePaymentEnquiryType",
        fieldset: {
          legend: {
            text: "Advance payment - What is your enquiry about?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "how-much-owed-in-total~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/advance-payment-how-much-i-owe-in-total",
            text: "How much I owe in total"
          },
          {
            value: "how-much-paid-every-month~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/advance-payment-how-much-i-pay-every-month",
            text: "How much I pay every month"
          },
          {
            value: "one-off-payment~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/advance-payment-i-want-to-make-a-one-off-payment",
            text: "I want to make a one-off payment"
          },
          {
            value: "pause-payments~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/advance-payment-i-want-to-pause-repayments",
            text: "I want to pause repayments"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Next step"
      }) }}
    
    </form> 
  </div>
</div>

{% endblock %}
