{% extends "layouts/main.html" %}
{% extends "layouts/headers/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.html" %}



{% block pageTitle %}
  Where do you live? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      {{ govukRadios({
        name: "WhereDoYouLive",
        fieldset: {
          legend: {
            text: "Where do you live?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "england-scotland-wales~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/what-do-you-need-help-with",
            text: "England, Scotland or Wales"
          },
          {
            value: "northern-ireland~/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/northern-ireland",
            text: "Northern Ireland"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Next step"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
