{% extends "layouts/main.html" %}
{% extends "layouts/headers/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.html" %}

{% block pageTitle %}
  Northern Ireland - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Northern Ireland
    </h1>

    <p class="govuk-body">Find information about who to contact on <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/deductions-can-be-taken-your-universal-credit-payments#toc-5">nidirect.gov.uk</a>.</p>

  </div>
</div>

{% endblock %}
