{% extends "layouts/main.html" %}

{% set serviceName %}
  Find out who to contact about money taken off your Universal Credit payment  
{% endset %}

{% block pageTitle %}
  Recoverable hardship payment - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{super()}}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Recoverable hardship payment</h1>

    <form class="form" action="/find-out-prod-recoverable-hardship-payment-help" method="post">

        {{ govukRadios({
        name: "recoverableHardshipPaymentHelp",
        fieldset: {
          legend: {
            text: "What do you need help with?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "hardship-payment-payment-reason",
            text: "I want to know what the recoverable hardship payment is for"
          },
          {
            value: "hardship-payment-left-to-pay",
            text: "How much I have left to pay"
          },
          {
            value: "hardship-payment-one-off-payment",
            text: "I want to make a one-off payment"
          },
          {
            value: "hardship-payment-stuggling-to-repay",
            text: "I am struggling to repay"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Next step"
      }) }}
    
    </form>  
  </div>
</div>

{% endblock %}
