{% extends "layouts/main.html" %}
{% extends "layouts/headers/find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.html" %}

{% block pageTitle %}
  Recoverable hardship payment – I am struggling to repay - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Recoverable hardship payment – I am struggling to repay</h1>

    <form class="form" action="/v1-contact-about-money-off-uc-debt-and-deductions" method="post">

      {{ govukRadios({
        name: "recoverableHardshipDebtAndDeductions",
        fieldset: {
          legend: {
            text: "Do you have any other money taken off your Universal Credit payment for debt and deductions?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "no-only-recoverable-hardship-payment",
            text: "No, I only have a recoverable hardship payment"
          },
          {
            value: "yes-but-only-a-uc-advance",
            text: "Yes, but only a Universal Credit advance"
          },
          {
            value: "yes-other-debt-and-deductions",
            text: "Yes, I have other debt and deductions – for example benefit overpayments and social fund loans"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Next step"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
