{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/find-your-nearest-jobcentre.html" %}

{% block pageTitle %}
  Why do you want to contact Jobcentre Plus? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block beforeContent %}
  {% include "layouts/welsh-toggle-wo-back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Find your nearest office</h1>

    {{ govukRadios({
      name: "country",
      fieldset: {
        legend: {
          text: "Why do you want to contact Jobcentre Plus?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Contact us about Universal Credit",
          text: "Contact us about Universal Credit"
        },
        {
          value: "Contact us about anything else",
          text: "Contact us about anything else"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      href: ""
    }) }}

  </div>
</div>

{% endblock %}