{% extends "layouts/main.html" %}

{% set serviceName %}
  Pension Credit calculator 
{% endset %}

{% block pageTitle %}
  Design history – {{ serviceName }}
{% endblock %}

{% block header %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "#",
         container: true
     })
 }}
 {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Pension Credit calculator</span>
      Design history
    </h1>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">21 Oct 2024</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v4/index.html">Version 4</a> - Attendance Allowance devolution pilot</h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made it"
                }
              ],
              rows: [
                [
                  {
                    html: '<p class="govuk-body">Added an extra question to the end of the smart answer.</p>
                    <p class="govuk-body">It was added to the end as the number of citizens in these areas is assumed to be quite small.</p>
                    <p class="govuk-body">Instead of asking if the citizens lives in one of the pilot areas we have asked if they live in Scotland and receive Pension Age Disability Payment (the new benefit).</p>'
                  },
                  {
                    html: '<p class="govuk-body">Attendance Allowance is being devolved with a pilot trial starting on 21st October 2024 in Argyll & Bute, Highland, Aberdeen City, Orkney and Shetland. Citizens in these areas will not be able to use the Pension Credit Calculator and will need to be filtered out in the smart answer.</p>'
                  }
                ],
                [
                  {
                    html: '<p class="govuk-body">Added drop out screen for the new question.</p>'
                  },
                  {
                    html: '<p class="govuk-body">To signpost citizens in the pilot areas to the phone lines so they can recieve accurate information about applying for Pension Credit.</p>'
                  }
                ]
              ]
            })
          }) }}
        </li>

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">21 Oct 2024</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v3/index.html">Version 3</a> - Add Northern Ireland link to dropouts {{govukTag({ text: "Live", classes: "govuk-tag--light-blue" })}}</h2>            
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made it"
                }
              ],
              rows: [
                [
                  {
                    html: '<p class="govuk-body">Added a link to the Northern Ireland Pension Centre on all dropout screens. This ensures citizens in Northern Ireland won&#39;t be ringing the wrong phone lines and therefore saving time for both citizens and agents.</p>'
                  },
                  {
                    html: '<p class="govuk-body">The Pension Credit calculator is linked to from the Northern Ireland guidance and Northern Ireland have their own phone lines, therefore citizens in Northern Ireland need the correct contact information.</p>'
                  }
                ]
              ]
            })
          }) }}
        </li>
        
        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">27 Aug 2024</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v2/index.html">Version 2</a> - Filtering</h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made it"
                }
              ],
              rows: [
                [
                  {
                    text: "Added GDS smart answer so that users can be filtered out earlier in the journey if shouldn't use the calculator based on their circumstances. This should make it faster for users to work out if they should submit an application."
                  },
                  {
                    html: '<p class="govuk-body">Pension Credit is now one of the main benefits which can &#39;passport&#39; someone to receiving the Winter Fuel Payment.</p>
                    <p class="govuk-body">In October 2024, a letter was sent to over 12 million households about the WFP changes and also signpost users to the Pension Credit calculator. At the time the application Pension Credit backlog was around 10 weeks, but there was a risk it could have become significantly longer.</p>
                    <p class="govuk-body">There are 5 user groups that shouldn&#39;t use the calculator as it could give them the wrong outcome, so these users need to be provided with information for them to continue their journey by calling the phone lines instead.</p>'
                  }
                ]
              ]
            })
          }) }}
        </li>

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">27 Aug 2024</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v1/index.html">Version 1</a></h2>
        </li>
      </ol>
    </div>
  
  </div>
</div>
{% endblock %}
