{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{
    dwpHeader({
        serviceName: "Check if someone is a DWP authorised officer",
        serviceHref: '#',
        container: true
    })
  }}  
{% endblock %}

{% set serviceName %}
  Check if someone is a DWP authorised officer
{% endset %}

{% block footer %}
  {{
      dwpFooter({
          classes: "dwp-footer",
          meta: {
              visuallyHiddenTitle: "About this website",
              items: [
              {
                  href: "",
                  text: "Accessibility"
              },
              {
                  href: "",
                  text: "Cookies"
              }
              ]
          }
      }) 
  }}
{% endblock %}
