{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {{
    dwpHeader({
        serviceName: "Local Office Search Data Management",
        serviceHref: '#',
        container: true
    })
  }}  
{% endblock %}

{% set serviceName %}
  Local Office Search Data Management
{% endset %}

{% block footer %}
  {{
      dwpFooter({
          classes: "dwp-footer",
          meta: {
              visuallyHiddenTitle: "About this website",
              items: [
              {
                  href: "",
                  text: "Help"
              },
              {
                  href: "",
                  text: "Cookies"
              },
              {
                  href: "",
                  text: "Contact"
              },
              {
                  href: "",
                  text: "Rhestr o Wasanaethau Cymraeg"
              }
              ]
          }
      }) 
  }}
{% endblock %}
