{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request-for-a-citizen.html" %}

{% block pageTitle %}
  What address should we write to?  - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Should we send the information to a different address?
      </h1>
      
      <form class="form"  method="post">

        {{ govukRadios({
          name: "send-to-different-address",
          value: data['send-to-different-address'],
          fieldset: {
            legend: {
              text: "Should we send the information to a different address?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes~/personal-information-request-for-a-citizen/v1/delivery-address",
              text: "Yes",
              checked: true if data["send-to-different-address"] === "yes"
            },
            {
              value: "no~/personal-information-request-for-a-citizen/v1/request",
              text: "No",
              checked: true if data["send-to-different-address"] === "no"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
