{% extends "layouts/main.html" %}
{% extends "layouts/headers/contact-winter-fuel-payments-centre.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Contact the Winter Fuel Payment Centre
      </h1>

      <p class="govuk-body">If you have claimed Winter Fuel Payment before, you should get it automatically.</p>

        <form class="form" action="/what-happens-next" method="post">
        {{ govukInput({
          label: {
            text: "Your full name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Telephone (optional)",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          hint: {
            text: "For international numbers include the country code."
          }
        }) }}

        {{ govukTextarea({
          rows: "5",
          label: {
            text: "What's your enquiry?",
            classes: "govuk-label--m"
          },
          classes: "govuk-!-width-full",
          hint: {
            text: "Do not include personal or financial information, such as your National Insurance number or bank account details."
          }
        }) }}

        {{ govukButton({
          text: "Send your enquiry",
          href: "what-happens-next"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
