{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/personal-information-request-for-a-citizen.html" %}

{% block pageTitle %}
  Your UK address – {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        The citizen's address
      </h1>

      <form class="form" action="send-to-different-address" method="post">
        
        {% call govukFieldset({
          legend: {
            text: "What's the address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: true
          }
        }) %}
        
          {{ govukInput({
            label: {
              text: "Building name or number and street"
            },
            id: "write-to-uk-address-line-1",
            name: "write-to-uk-address-line-1",
            value: data['write-to-uk-address-line-1'],
            autocomplete: "address-line1"
          }) }}
        
          {{ govukInput({
            label: {
              visuallyHiddenText: "Building and street line 2 of 2"
            },
            id: "write-to-uk-address-line-2",
            name: "write-to-uk-address-line-2",
            value: data['write-to-uk-address-line-2'],
            autocomplete: "address-line2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "write-to-uk-address-town",
            name: "write-to-uk-address-town",
            value: data['write-to-uk-address-town'],
            autocomplete: "address-level2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "write-to-uk-address-county",
            name: "write-to-uk-address-county",
            value: data['write-to-uk-address-county']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "write-to-uk-address-postcode",
            name: "write-to-uk-address-postcode",
            value: data['write-to-uk-address-postcode'],
            autocomplete: "postal-code"
          }) }}
        
        {% endcall %}

        {{ govukButton({
          text: "Continue",
          attributes: "govuk-button"
        }) }}
          
      </form>
    </div>
  </div>

{% endblock %}
