{% extends "layouts/main.html" %}

{% set serviceName %}
  Find out who to contact about money taken off your Universal Credit payment  
{% endset %}

{% block pageTitle %}
  Design history - {{ serviceName }}
{% endblock %}

{% block header %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "#",
         container: true
     })
 }}
 {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Find out who to contact about money taken off your Universal Credit payment</span>
      Design history
    </h1>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">21 Aug 2024</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v2/index.html">Version 2</a> - User journeys {{govukTag({ text: "Awaiting release", classes: "govuk-tag--yellow" })}}</h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made the change"
                }
              ],
              rows: [
                [
                  {
                    html: '<p class="govuk-body">User journey: Third party deduction - if you owe money for things like rent, Council Tax, electricity, gas, water or court fines > I am struggling to make the repayments > Answer &quot;yes&quot; to Do you have money taken off for rent arrears?</p>
                    <p class="govuk-body">This now signposts users to Universal Credit and not DWP Debt Management.</p>'
                  },
                  {
                    html: '<p class="govuk-body">Rent arrears > struggling to make repayments > with benefit overpayment deductions.</p>
                    <p class="govuk-body">This is currently signposting to debt incorrectly; we cannot reduce these deductions so the whole rent arrears section should be signposting to UC only.</p>'
                  }
                ],
                [
                  {
                    html: '<p class="govuk-body">Removed the question &quot;Do you have any other money taken off your Universal Credit payment for debt and deductions?&quot; if the user selects &quot;I am struggling to repay&quot; from Recoverable hardship payments. It now signpost users straight to DWP Debt Management.</p>'
                  },
                  {
                    html: '<p class="govuk-body">Recoverable hardship payments with UC Advance option.</p>
                    <p class="govuk-body">This currently signposts to UC however it is only debt management that can reduce the RHP deductions. We feel this should direct to Debt instead of UC, we could then reduce the RHP deductions first and refer the customer to UC, but only if the customer also needs to defer the advance recovery. If it stays as is then the Advance recovery could be deferred by UC, but the RHP recovery may then increase, so the customer wouldn&#39;t see any benefit.</p>'
                  }
                ],
                [
                  {
                    html: '<p class="govuk-body">Rename &quot;Benefit overpayment budgeting and crisis loan repayment&quot; to &quot;Tax credits and benefit overpayments, budgeting and crisis loan repayments&quot; and update the page content.</p>'
                  },
                  {
                    html: '<p class="govuk-body">Separate out Tax Credit Overpayments - (currently within the benefit overpayment, budgeting, and crisis loan repayment selection).</p>
                    <p class="govuk-body">This was to make it clearer for customer as they do not necessarily see tax credit overpayments as benefit overpayments and would support the move to UC with increasing volumes of tax credit debt. There would need to be different selections for One-off payment/struggling to repay/how much I have left to pay = Debt Management and I want to know what the OP was for = HMRC Tax Credits.</p>'
                  }
                ],
                [
                  {
                    text: "Added the option “I am struggling to repay” to the Universal Credit Overpayment section which signposts users to call DWP Debt Management."
                   
                  },
                  {
                    html: '<p class="govuk-body">Universal Credit Overpayment.</p>
                    <p class="govuk-body">Universal Credit Overpayment is now a standalone selection (previously under the benefit overpayment, budgeting, and crisis loan repayment selection), however there is no longer the option “I am struggling to repay” = Debt Management, which is one of the main reasons customer need to contact us for.</p>'
                  }
                ]
              ]
            })
          }) }}
        </li>
       
        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">Unknown</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v1/index.html">Version 1</a> {{govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</h2>
        </li>
      </ol>
      </div>
  
  </div>
</div>
{% endblock %}
