{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-find-out.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Find out how to report a missing Cost of Living Payment
    </h1>

     <p class="govuk-body">Most people should have received their £301 and £300 Cost of Living Payments and £150 Disability Cost of Living Payment for 2023.</p>

     <p class="govuk-body">If you were expecting one of the following Cost of Living Payments but have not received it, you can report it as missing:</p>
      
    <ul class="govuk-list govuk-list--bullet">
      <li>£301 paid between 25 April 2023 and 17 May 2023 for most people</li>
      <li>£300 paid between 31 October and 19 November 2023 for most people</li>
      <li>£150 Disability Cost of Living Payment paid between 20 June 2023 and 4 July 2023 for most people</li>
    </ul>

     <p class="govuk-body">You'll need your National Insurance number. If you've lost your National Insurance number, check <a
        href="https://www.gov.uk/lost-national-insurance-number">how to find a lost National Insurance number</a>.</p>

     <p class="govuk-body">Before reporting a missing payment, check your bank, building society or credit union account, or your Payment
      Exception Service voucher receipt. The payment will be made separately from your benefit.</p>

       <p class="govuk-body">Do not report the same missing payment more than once. We will reply to you as soon as we can.</p>

      <div class="govuk-inset-text">
         <p class="govuk-body">You do not need to contact us about <a href="https://www.gov.uk/guidance/cost-of-living-payment" class="govuk-link">future Cost of
          Living Payments</a>. You'll be paid automatically if you're entitled.</p>      </div>

      {{ govukButton({
      text: "Start now",
      href: "types-of-cost-of-living-payment",
      isStartButton: true
    }) }}

  </div>

</div>

{% endblock %}