{% extends "layouts/main.html" %}

{% set serviceName %}
Request a call back to pay voluntary National Insurance contributions

{% endset %}

{% block pageTitle %}
  Design history - {{ serviceName }}
{% endblock %}

{% block header %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "/",
         container: true
     })
 }}
 {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Request a call back to pay voluntary National Insurance contributions
      </span>
      Design history
    </h1>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">24 Mar 2025</p>
          <h2 class="dwp-timeline__heading">
            <a class="govuk-link" href="v7/service-closed.html">Service closed</a> - Decommissioning
            <br>
            <a class="govuk-link" href="v7/future-pension-centre.html">Contact Future Pension Centre</a> - Content change
          </h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made the change"
                }
              ],
              rows: [
                [
                  {
                    html: '<p class="govuk-body">Replaced the form with a service closed page.</p>'
                  },
                  {
                    html: '<p class="govuk-body">Users who have the direct link know they can&#39;t submit a request for a call back and where to go to find more information about paying National Insurance contributions.</p>'
                  }
                ],
                [
                  {
                    html: '<p class="govuk-body">Removed the form link from the Contact Future Pension Centre page. Also removed the sentence about long wait times.</p>'
                  },
                  {
                    html: '<p class="govuk-body">Prevent users getting to the form as it is closed. The stakeholder requested the long wait times sentence to be removed as senior leaders are expecting the service to continue as BAU and don&#39;t expect it to increase.</p>'
                  }
                ]
              ]
            })
          }) }}
        </li>
        
        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">11 Mar 2025</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v6/index.html">Version 2</a> - Date of birth and location {{govukTag({ text: "Live", classes: "govuk-tag--light-blue" })}}</h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made the change"
                }
              ],
              rows: [
                [
                  {
                    text: "Added questions to capture the citizen's date of birth and location."
                  },
                  {
                    html: '<p class="govuk-body">The stakeholder informed us that they can&#39;t help every citizen during call backs because the Futures agents won&#39;t have access to all of the information they need. Therefore the Pension Service and International Pension Centre will also do call backs with relevant citizens. 
                      <p class="govuk-body">We needed a way to be able to tell if a citizen requesting a call back is under or over the State Pension age and whether they live in the UK or abroad. This is so we can direct the emails to the correct team.</p>'
                  }
                ]
              ]
            })
          }) }}
        </li>

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">24 Feb 2025</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v1/index.html">Version 1</a></h2>
        </li>
      </ol>
    </div>
  
  </div>
</div>
{% endblock %}
