{% extends "layouts/main.html" %}
{% extends "layouts/headers/voluntary-national-insurance-contributions.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

{% from "language-toggle/macro.njk" import dwpLanguageToggle %}
{{ dwpLanguageToggle({
  selectedLang: "en",
  href: {
      en: "#",
      cy: "#"
  }
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Request a callback to pay voluntary National Insurance contributions
    </h1>

    <p class="govuk-body">The purpose of this contact form is to register your interest to pay a voluntary contribution respective of deficient years for any eligible tax years between 2006 to 2018.</p>

    <p class="govuk-body">The 5th of April 2023 deadline to pay voluntary national insurance contributions has been extended to the 5th April 2025.</p>

    {{ govukInsetText({
        text: "If you have already requested a callback, please do not send another request."
      }) }}
    
    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--m"
      },
      id: "full-name",
      name: "fullName",
      autocomplete: "name",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "Phone number",
        classes: "govuk-label--m"
      },
      hint: {
        text: "For international numbers include the country code"
      },
      id: "phone-number",
      name: "phoneNumber",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukButton({
      text: "Send request",
      href: "what-happens-next"
    }) }}

  </div>
</div>

{% endblock %}
