{% extends "layouts/main.html" %}
{% extends "layouts/headers/voluntary-national-insurance-contributions.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

{% from "language-toggle/macro.njk" import dwpLanguageToggle %}
{{ dwpLanguageToggle({
  selectedLang: "en",
  href: {
      en: "#",
      cy: "#"
  }
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Request a call back to pay voluntary National Insurance contributions for tax years between 2006 and 2018
    </h1>

    <p class="govuk-body">Complete this form to request a call back from the Department for Work and Pensions (DWP) about paying voluntary National Insurance Contributions to fill gaps in your State Pension entitlement between 2006 and 2018.</p>
    <p class="govuk-body">The deadline to pay voluntary National Insurance contributions for this period has been extended to the 5 April 2025.</p>
    <p class="govuk-body">DWP will contact you on the phone number you provide in this form to discuss payment of voluntary National Insurance contributions.</p>

    {{ govukInsetText({
        html: '<p class="govuk-body">If you request a call back by the 5 April 2025 deadline you will still be able to pay voluntary National Insurance contributions after the deadline has passed.</p><p class="govuk-body">If you have already requested a call back, please do not send another request.</p>'
      }) }}
    
    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--m"
      },
      id: "full-name",
      name: "fullName",
      autocomplete: "name",
      spellcheck: false
    }) }}

    {{ govukInput({
      label: {
        text: "Phone number",
        classes: "govuk-label--m"
      },
      hint: {
        text: "For international numbers include the country code"
      },
      id: "phone-number",
      name: "phoneNumber",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukButton({
      text: "Send request",
      href: "what-happens-next"
    }) }}

  </div>
</div>

{% endblock %}
