{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request-for-a-citizen.html" %}

{% block pageTitle %}
Have you checked the citizen's identity? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <span class="govuk-caption-l">How we took the request</span>

      <form class="form" action="staff-details" method="post">

        {{ govukRadios({
          name: "citizen-identity",
          value: data['checked-citizen-identity'],
          fieldset: {
            legend: {
              text: "Have you checked the citizen's identity?",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true if data["checked-citizen-identity"] === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: true if data["checked-citizen-identity"] === "no"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: "govuk-button"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
