{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

       <p class="govuk-body">
        {{ data['first-name'] or "First name not given" }}
    </p>

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Benefit"
            },
            value: {
              text: "Answer 1"
            },
            actions: {
              items: [
                {
                  href: "which-benefit-were-you-expecting",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['full-name']
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "Answer 3"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "Answer 3"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Home address"
            },
            value: {
              text: "Answer 3"
            },
            actions: {
              items: [
                {
                  href: "what-is-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "what-is-your-telephone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      })
     }}

      <form action="/details-received" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
