{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
  Check your answers template - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            UC
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> benefit type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] or "Full name not given" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/personal-details.html">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> National Insurance number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['tel-number'] }}</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> telephone number</span>
            </a>
          </dd>
        </div>
      </dl>
  
        
      <h2 class="govuk-heading-m">Now send your application</h2>
      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
    

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Benefit"
            },
            value: {
              text: "UC"
            },
            actions: {
              items: [
                {
                  href: "which-benefit-were-you-expecting",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['first-name'] or "First name not given"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "Answer 3"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "Answer 3"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Home address"
            },
            value: {
              text: "Answer 3"
            },
            actions: {
              items: [
                {
                  href: "what-is-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "what-is-your-telephone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      })
     }}

      <form action="/details-received" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
