{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Report a missing Cost of Living Payment
    </h1>

     <p class="govuk-body">Use this service if you were expecting one of the following a Cost of Living Payments but have not received it:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>£301 paid between 25 April and 17 May 2023 for most people</li>
      <li>£300 paid between 31 October and 19 November 2023 for most people</li>
      <li>£150 Disability Cost of Living Payment paid between 20 June and 4 July for most people</li>
    </ul>

     <p class="govuk-body">You'll need your National Insurance number. If you've lost your National Insurance number, check <a
        href="https://www.gov.uk/lost-national-insurance-number">how to find a lost National Insurance number</a>.</p>

     <p class="govuk-body">Before reporting a missing payment, check your bank, building society or credit union account, or your Payment
      Exception Service voucher receipt. The payment will be made separately from your benefit.</p>

     <p class="govuk-body">You do not need to contact us about <a href="https://www.gov.uk/guidance/cost-of-living-payment" class="govuk-link">future Cost of
        Living Payments</a>. You'll be paid automatically if you're entitled.</p>

     <p class="govuk-body">Do not report the same missing payment more than once. We will reply to you as soon as we can.</p>

      {{ govukInsetText({
        html: 'You do not need to contact us about <a href="https://www.gov.uk/guidance/cost-of-living-payment" class="govuk-link">future Cost of
          Living Payments</a>. You&#39;ll be paid automatically if you&#39;re entitled.'
      }) }}

    {{ govukButton({
      text: "Start now",
      href: "types-of-cost-of-living-payment",
      isStartButton: true
    }) }}

  </div>

</div>

{% endblock %}