{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Do you want to report a different missing Cost of Living Payment?
    </h1>

    <p class="govuk-body"><a class="govuk-link" href="/index.html">Report another missing Cost of Living Payment</a></p>
    <h2 class="govuk-heading-m">Other benefits and financial support</h2>
    <p class="govuk-body">Check if you could get any <a class="govuk-link"
        href="https://www.gov.uk/check-benefits-financial-support">further benefits or financial support</a>.</p>

    <p class="govuk-body"><a class="govuk-link" href="#">What did you think of this service?</a> (takes 30 seconds)</p>

  </div>
</div>

{% endblock %}