{% extends "layouts/main.html" %}
{% extends "layouts/headers/cost-of-living-report.html" %}

{% block pageTitle %}
Content page template - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Types of Cost of Living Payment
    </h1>

     <p class="govuk-body">Tell us which type of Cost of Living Payment you want to report as missing.</p>

     <p class="govuk-body">£301 or £300 for a low income benefit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Universal Credit</li>
      <li>income-based Jobseeker's Allowance (JSA)</li>
      <li>income-related Employment and Support Allowance (ESA)</li>
      <li>Income Support</li>
      <li>Pension Credit</li>
      <li>Child Tax Credit</li>
      <li>Working Tax Credit</li>
    </ul>


     <p class="govuk-body">£150 for a disability benefit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Attendance Allowance</li>
      <li>Constant Attendance Allowance</li>
      <li>Disability Living Allowance for adults</li>
      <li>Disability Living Allowance for children</li>
      <li>Personal Independence Payment</li>
      <li>Adult Disability Payment (in Scotland)</li>
      <li>Child Disability Payment (in Scotland)</li>
      <li>Armed Forces Independence Payment</li>
      <li>War Pension Mobility Supplement</li>
    </ul>

    <form class="form" action="/payment-type-answer" method="post">

      {{ govukRadios({
        name: "type-of-payment-missing",
        id: "type-of-payment-missing",
        fieldset: {
          legend: {
          text: "Which type of Cost of Living Payment do you want to report as missing?",
          classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
          value: "301-or-300",
          text: "£301 or £300 for a low income benefit"
          },
          {
          value: "150",
          text: "£150 for a disability benefit"
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "If you have more than one missing payment to report",
        text: "If you want to report a missing payment for both a low income benefit and a disability benefit, you'll need
        to report each separately."
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>



  </div>
</div>

{% endblock %}