{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="which-payment-answer" method="post">

      {{ govukRadios({
        name: "which-payment",
        id: "which-payment",
        fieldset: {
          legend: {
            text: "Which payment are you missing?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
          value: "301",
          text: "£301 paid between 25 April and 17 May 2023 for most people"
          },
          {
          value: "300",
          text: "£300 paid between 31 October and 19 November 2023 for most people"
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>


  </div>
</div>

{% endblock %}