{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Contact details for low income benefits</h1>
    <p class="govuk-body">Report your missing £301 Cost of Living Payment by calling the phone number for your benefit
      (or using your Universal Credit journal if you have one). You can find the phone number on the pages below:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">income-related
          Employment and Support Allowance (ESA)</a></li>
      <li><a class="govuk-link" href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">income-based
          Jobseeker's Allowance (JSA)</a></li>
      <li><a class="govuk-link" href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Income
          Support</a></li>
      <li><a class="govuk-link" href="https://www.gov.uk/universal-credit/contact-universal-credit">Universal Credit</a>
      </li>
      <li><a class="govuk-link"
          href="https://www.gov.uk/contact-pension-service#get-pension-information-or-report-a-change">Pension
          Credit</a> - if you're waiting for the outcome of your Pension Credit application, you will get the £301
        payment automatically if you're eligible.</li>
    </ul>
    <h2 class="govuk-heading-m">Do you want to report another missing Cost of Living Payment?</h2>
    <p class="govuk-body"><a class="govuk-link" href="/index.html">Report another missing Cost of Living Payment</a></p>
    <h2 class="govuk-heading-m">Other benefits and financial support</h2>
    <p class="govuk-body">Check if you could get any <a class="govuk-link"
        href="https://www.gov.uk/check-benefits-financial-support">further benefits or financial support</a>.</p>

    <p class="govuk-body"><a class="govuk-link" href="#">What did you think of this service?</a> (takes 30 seconds)</p>

  </div>
</div>

{% endblock %}