{% extends "layouts/main.html" %}
{% extends "layouts/headers/contact-employer-services.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Contact Employer Services 
    </h1>

    <p class="govuk-body">Fill out your details and we will get back to you.</p>
    
    <p class="govuk-body">You can also <a class="govuk-link" href="https://www.gov.uk/jobcentre-plus-help-for-recruiters/recruitment-advice-and-support">contact us by phone</a>.</p>
   
    {{ govukInput({
      label: {
        text: "Contact name",
        classes: "govuk-label--m"
      },
      id: "contact-name",
      name: "contactName"
    }) }}

    {{ govukInput({
      label: {
        text: "Business name",
        classes: "govuk-label--m"
      },
      id: "business-name",
      name: "businessName"
    }) }}

    {{ govukInput({
      label: {
        text: "Business email address",
        classes: "govuk-label--m"
      },
      id: "email",
      name: "email"
    }) }}

    {{ govukInput({
      label: {
        text: "Phone number",
        classes: "govuk-label--m"
      },
      id: "phone-number",
      name: "phoneNumber",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode where your business is based",
        classes: "govuk-label--m"
      },
      id: "business-location-postcode",
      name: "businessLocationPostcode",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukTextarea({
      name: "moreDetail",
      id: "more-detail",
      label: {
        text: "Where are you recruiting?",
        classes: "govuk-label--m",
        isPageHeading: false
      },
      hint: {
        text: "Tell us if you are recruiting nationally in a number of locations or a single location. Please give the names of the towns or cities and postcodes if you know them."
      }
    }) }}

    {% set adviceHtml %}
    {{ govukInput({
      id: "recruitment-advice",
      name: "recruitmentAdvice",
      label: {
        text: "What other advice do you need?"
      }
    }) }}
    {% endset -%}

    {{ govukCheckboxes({
      name: "advice",
      fieldset: {
        legend: {
          text: "What recruitment advice do you need",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "current vacancies",
          text: "Current vacancies"
        },
        {
          value: "recruitment events and job fairs",
          text: "Recruitment events and job fairs"
        },
        {
          value: "work experience",
          text: "Work experience"
        },
        {
          value: "other",
          text: "Other",
          conditional: {
            html: adviceHtml
          }
        }
      ]
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "location",
      fieldset: {
        legend: {
          text: "Which language would you like to be contacted in?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "English",
          text: "English"
        },
        {
          value: "Welsh",
          text: "Welsh"
        }
      ]
    }) }}

    {{ govukInput({
      label: {
        text: "Where did you hear about Contact Employer Services? (Optional)",
        classes: "govuk-label--m"
      },
      id: "where-did-you-hear",
      name: "whereDidYouHear"
    }) }}

    {{ govukButton({
      text: "Send your enquiry",
      href: "what-happens-next"
    }) }}

  </div>
</div>

{% endblock %}
