{% extends "layouts/main.html" %}

{% set serviceName %}
  Request information about underpaid State Pension for someone who has died   
{% endset %}

{% block pageTitle %}
  What happens next – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "Request sent to DWP"
        }) }}

        <h2 class="govuk-heading-l">
          What happens next
        </h2>

        <p class="govuk-body">We will check whether the person who has died was paid the correct amount of State Pension. We many need to contact you for more information.</p>
      
        <p class="govuk-body">If the person who has died was owed money, we will write to you and let you know what to do next.</p>

        <p class="govuk-body">If you person who has died was not owed money, we will write to you to tell you.</p>

        <p class="govuk-body">We will deal with your enquiry as soon as possible, but this may take some time.</p>

       
        <p class="govuk-body">
          <a href="#">
            What did you think of this service?
          </a> (takes 30 seconds)
        </p>
    </div>
  </div>

{% endblock %}
