{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--full-name']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-full-name.html">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--dob-day']}} {{data['esa--dob-month']}} {{data['esa--dob-year']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-date-of-birth.html">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance Nummber
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--national-insurance-number']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="what-is-your-national-insurance-number.html">Change<span class="govuk-visually-hidden"> customer reference</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> {{data['address-line-1']}}</p>
          <p class="govuk-body"> {{data['address-line-2']}}</p>
          <p class="govuk-body"> {{data['town-city']}}</p>
          <p class="govuk-body"> {{data['postcode']}}</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/dwp-find-an-address-plugin/manual-entry">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact number
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--phone-number']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Employment and Support Allowance details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Are you currently in receipt of Employment and Support Allowance?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--currently-in-receipt']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="are-you-currently-in-receipt-of-esa.html">Change<span class="govuk-visually-hidden"> previous application
              number</span></a>
        </dd>
      </div>

      {% if data['esa--currently-in-receipt'] == "No" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you ever received Employment and Support Allowance?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--have-you-ever-received-esa']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="have-you-ever-received-esa.html">Change<span class="govuk-visually-hidden"> previous application
              number</span></a>
        </dd>
      </div>
      {% endif %}

      {% if data['esa--currently-in-receipt'] == "Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you in receipt of Adult Disability Payment, Personal Independence Payment or Disability Living Allowance?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['esa--present-in-receipt']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="present-citizen-standard-or-enhanced-rate.html">Change<span class="govuk-visually-hidden"> licence type</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you live with a partner?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['esa--do-you-live-with-a-partner']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="did-you-live-with-a-partner.html">Change<span class="govuk-visually-hidden"> home address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your partner in receipt of Personal Independence Payment, Adult Disability Payment, Armed Forces Independence Payment, Disability Living Allowance, Attendance Allowance, Constant Attendance Allowance or Pension Age Disability Payment?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['esa--present-partner-in-receipt']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="present-partner-standard-or-enhanced-rate.html">Change<span class="govuk-visually-hidden"> licence period</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your partner registered blind or severely sight impaired?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['esa--is-partner-blind-sight-impaired']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="present-partner-registered-blind-or-severely-sight-impaired.html">Change<span class="govuk-visually-hidden"> licence period</span></a>
          </dd>
        </div>
      {% endif %}

      {% if data['esa--currently-in-receipt'] == "No" and data['esa--have-you-ever-received-esa'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Were you in receipt of Adult Disability Payment, Personal Independence Payment or Disability Living Allowance?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--past-in-receipt']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="past-partner-standard-or-enhanced-rate.html">Change<span class="govuk-visually-hidden"> licence type</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Did you live with a partner?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--did-you-live-with-a-partner']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="did-you-live-with-a-partner.html">Change<span class="govuk-visually-hidden"> home address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was your partner in receipt of Personal Independence Payment, Adult Disability Payment, Armed Forces Independence Payment, Disability Living Allowance, Attendance Allowance, Constant Attendance Allowance, Pension Age Disability Payment?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--past-partner-in-receipt']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="past-partner-standard-or-enhanced-rate.html">Change<span class="govuk-visually-hidden"> licence period</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Was your partner registered blind or severely sight impaired?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['esa--was-partner-blind-sight-impaired']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="past-partner-registered-blind-or-severely-sight-impaired.html">Change<span class="govuk-visually-hidden"> licence period</span></a>
        </dd>
      </div>
    {% endif %}
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the
      details you are providing are correct.</p>

    <form action="/form-handler" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
      text: "Accept and send",
      href: "what-happens-next"
      }) }}

    </form>

  </div>
</div>

</div>
</div>

{% endblock %}