{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

    {{ govukRadios({
      name: "esa--have-you-ever-received-esa",
      value: data['esa--have-you-ever-received-esa'],
      fieldset: {
        legend: {
          text: "Have you ever received Employment and Support Allowance?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Yes~/esa-sdp-review/v3/past-citizen-standard-or-enhanced-rate",
          text: "Yes",
          checked: true if data["esa--have-you-ever-received-esa"] === "Yes"
        },
        {
          value: "No~/esa-sdp-review/v3/are-not-eligible",
          text: "No",
          checked: true if data["esa--have-you-ever-received-esa"] === "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
