{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/opt-out-of-winter-fuel-payment.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="if-you-live-in-wales" method="post">

      {{ govukInput({
        label: {
          text: "What is your phone number? (optional)",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "The quickest way for us to contact you is by phone. We might use this number if we need to contact you for more information to opt you out. We can use a landline if you do not have a mobile phone."
        },
        id: "optoutwfp--phone-number",
        name: "optoutwfp--phone-number",
        value: data['optoutwfp--phone-number'],
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: "govuk-button"
      }) }}
    </form>

    {{ govukDetails({
      summaryText: "Get help with this form",
      html: '<a href="https://www.gov.uk/winter-fuel-payment/report-change-circumstances#contact-the-winter-fuel-payment-centre">Contact the Winter Fuel Payment Centre (opens in new tab)</a>'
    }) }}

  </div>
</div>

{% endblock %}
