{% extends "layouts/main.html" %}

{% set serviceName %}
Find out how to report a missing Cost of Living Payment
{% endset%}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
   text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Types of Cost of Living Payment
    </h1>

    <p>Tell us which type of Cost of Living Payment you want to report as missing.</p>

    <p>£301, £300 or £299 for a low income benefit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Universal Credit</li>
      <li>income-based Jobseeker's Allowance (JSA)</li>
      <li>income-related Employment and Support Allowance (ESA)</li>
      <li>Income Support</li>
      <li>Pension Credit</li>
      <li>Child Tax Credit</li>
      <li>Working Tax Credit</li>
    </ul>


    <p>£150 for a disability benefit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Attendance Allowance</li>
      <li>Constant Attendance Allowance</li>
      <li>Disability Living Allowance for adults</li>
      <li>Disability Living Allowance for children</li>
      <li>Personal Independence Payment</li>
      <li>Adult Disability Payment (in Scotland)</li>
      <li>Child Disability Payment (in Scotland)</li>
      <li>Armed Forces Independence Payment</li>
      <li>War Pension Mobility Supplement</li>
    </ul>

    <form class="form" action="/mtb5-retired-payment-type-answer" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "type-of-payment-missing",
        id: "type-of-payment-missing",
        fieldset: {
          legend: {
          text: "Which type of Cost of Living Payment do you want to report as missing?",
          classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
          value: "301-or-300",
          text: " £301, £300 or £299 for a low income benefit"
          },
          {
          value: "150",
          text: "£150 for a disability benefit"
          }
        ]
      }) }}

      {% from "govuk/components/details/macro.njk" import govukDetails %}

      {{ govukDetails({
        summaryText: "If you have more than one missing payment to report",
        text: "If you want to report a missing payment for both a low income benefit and a disability benefit, you'll need
        to report each separately."
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>



  </div>
</div>

{% endblock %}