{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      {{ govukRadios({
        name: "esa--they-currently-in-receipt",
        value: data['esa--they-currently-in-receipt'],
        fieldset: {
          legend: {
            text: "Are they currently in receipt of Employment and Support Allowance?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes~/esa-sdp-review/v2/are-they-in-receipt",
            text: "Yes"
          },
          {
            value: "No~/esa-sdp-review/v2/have-they-ever-received-esa",
            text: "No"
          }
        ]
      }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
