{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="check-your-answers" method="post">
      {{ govukRadios({
        name: "esa--contact-in-welsh",
        value: data['esa--contact-in-welsh'],
        fieldset: {
          legend: {
            text: "If they live in Wales, would they like to speak to someone in Welsh? (Optional)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: phoneNumberHTML
            }
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
