{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

{% include "layouts/welsh-toggle.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Employment and Support Allowance and Severe Disability Premium review request
    </h1>

     <p class="govuk-body">You may be entitled to extra money with your current or a previous Employment and Support Allowance.</p>

     <p class="govuk-body">We call this extra money a Severe Disability Premium.</p>

     <p class="govuk-body">If you know you are already in receipt of Severe Disability Premium, you do not need to complete this form.</p>

     <p class="govuk-body">Before we can decide if you can get this, we need some more information.</p>

    {{ govukButton({
      text: "Start now",
      href: "what-is-your-full-name",
      isStartButton: true
    }) }}

  </div>
</div>

{% endblock %}
