{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

{{ govukCheckboxes({
  name: "esa--present-partner-in-receipt",
  value: data['esa--present-partner-in-receipt'],
  fieldset: {
    legend: {
      text: "Is your partner in receipt of any of the following benefits?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "Personal Independence Payment",
      text: "Personal Independence Payment"
    },
    {
      value: "Adult Disability Payment",
      text: "Adult Disability Payment"
    },
    {
      value: "Armed Forces Independence Payment",
      text: "Armed Forces Independence Payment"
    },
    {
      value: "Disability Living Allowance",
      text: "Disability Living Allowance"
    },
    {
      value: "Attendance Allowance",
      text: "Attendance Allowance"
    },
    {
      value: "Constant Attendance Allowance",
      text: "Constant Attendance Allowance"
    },
    {
      value: "Pension Age Disability Payment",
      text: "Pension Age Disability Payment"
    },
    {
      divider: "or"
    },
    {
      value: "Don't know",
      text: "Don't know",
      behaviour: "exclusive"
    }
  ]
}) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
