{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

    {{ govukRadios({
      name: "esa--present-partner-in-receipt",
      value: data['esa--present-partner-in-receipt'],
      fieldset: {
        legend: {
          text: "Is your partner in receipt of Personal Independence Payment, Adult Disability Payment, Armed Forces Independence Payment, Disability Living Allowance, Attendance Allowance, Constant Attendance Allowance or Pension Age Disability Payment?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Yes~/esa-sdp-review/v2/check-your-answers",
          text: "Yes",
          checked: true if data["esa--present-partner-in-receipt"] === "Yes"
        },
        {
          value: "No~/esa-sdp-review/v2/present-partner-registered-blind-or-severely-sight-impaired",
          text: "No",
          checked: true if data["esa--present-partner-in-receipt"] === "No"
        },
        {
          value: "Dont-know~/esa-sdp-review/v2/check-your-answers",
          text: "Don't know",
          checked: true if data["esa--present-partner-in-receipt"] === "Dont-know"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
