{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="did-you-live-with-a-partner" method="post">

    {{ govukRadios({
      name: "esa--past-in-receipt",
      value: data['esa--past-in-receipt'],
      fieldset: {
        legend: {
          text: "Were you in receipt of Adult Disability Payment, Personal Independence Payment or Disability Living Allowance?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
      {
        value: "Yes~/esa-sdp-review/v2/did-you-live-with-a-partner",
        text: "Yes",
        checked: true if data["esa--past-in-receipt"] === "Yes"
      },
      {
        value: "No~/esa-sdp-review/v2/were-not-eligible",
        text: "No",
        checked: true if data["esa--past-in-receipt"] === "No"
      },
      {
        value: "Dont-know~/esa-sdp-review/v2/did-you-live-with-a-partner",
        text: "Don't know",
        checked: true if data["esa--past-in-receipt"] === "Dont-know"
      }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
