{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% include "layouts/welsh-toggle-w-back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="what-is-their-date-of-birth" method="post">

     {{ govukInput({
      label: {
        text: "What is their full name?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      id: "full-name",
      name: "esa--full-name",
      value: data['esa--full-name']
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
