{% extends "layouts/main.html" %}

{% set serviceName %}
  Cold Weather Payments
{% endset%}

{% block pageTitle %}
England and Wales - Cold Weather Payments
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Payments in England and Wales
    </h1>

    <h2 class="govuk-heading-m">
      Check if a payment is due in your area
    </h1>

    <form class="form" action="/cwp-check-postcode" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "check postcode",
        id: "check-postcode",
        fieldset: {
          legend: {
          text: "Which country do you want to check a postcode for?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
          value: "england",
          text: "England"
          },
          {
          value: "northern ireland",
          text: "Northern Ireland"
          },
          {
          value: "scotland",
          text: "Scotland"
          },
          {
          value: "wales",
          text: "Wales"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}