{% extends "layouts/main.html" %}

{% set serviceName %}
  Ask for a Maternity Allowance claim form  
{% endset %}

{% block pageTitle %}
  Design history – {{ serviceName }}
{% endblock %}

{% block header %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "#",
         container: true
     })
 }}
 {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Ask for a Maternity Allowance claim form</span>
      Design history
    </h1>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">Oct 2023</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v2/index.html">Version 2</a> - Northern Ireland content {{govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made it"
                }
              ],
              rows: [
                [
                  {
                    text: "Added a details component for how to ask for a claim form in Northern Ireland."
                  },
                  {
                    text: "Users in Northern Ireland were requesting the form that was created for 
                    users in England, Scotland and Wales. This was putting strain on the Northern 
                    Ireland team and other teams to convert the form and results in users 
                    having an extended waiting time for a decision."
                  }
                ]
              ]
            })
          }) }}
        </li>
       
        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">Mar 2022</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v1/index.html">Version 1</a></h2>
        </li>
      </ol>
      </div>
  
  </div>
</div>
{% endblock %}
