{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/cold-weather-payments.html" %}

{% block pageTitle %}
  Payments in Northern Ireland - Cold Weather Payments
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Payments in Northern Ireland
    </h1>

    <p class="govuk-body">You will need to check your postcode for Cold Weather Payments in Northern Ireland on the <a class="govuk-link" href="https://www.nidirect.gov.uk/services/cold-weather-payment-checker">nidirect postcode checker</a>.</p>

    <h2 class="govuk-heading-m">Help us improve</h2>

    <p class="govuk-body"><a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VoCNQgbNAjxHjLjIMX0kidBUMFo5WkZGOFUyWE5LS0NNQUhHRzhaTjZKVi4u">Give your feedback on this service</a></p>
  </div>
</div>

{% endblock %}