{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/cold-weather-payments.html" %}

{% block pageTitle %}
  Payments in Scotland - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Payments in Scotland
    </h1>

    <p class="govuk-body">You cannot get Cold Weather Payments.</p>
    <p class="govuk-body">You might get an annual <a class="govuk-link" href="https://www.mygov.scot/winter-heating-payment">Winter Heating Payment</a> instead.</p>
    <h2 class="govuk-heading-l">Help us improve</h2>
    <p class="govuk-body"><a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VoCNQgbNAjxHjLjIMX0kidBUMFo5WkZGOFUyWE5LS0NNQUhHRzhaTjZKVi4u">Give your feedback on this service</a></p>

  </div>
</div>

{% endblock %}