{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/cold-weather-payments.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check if a payment is due in your area
    </h1>

    {% set html %}
      <p class="govuk-notification-banner__heading">
      The 2024 to 2025 Cold Weather payment scheme has now ended. The 2025 to 2026 Cold Weather Payment scheme is due to start on 1 November 2025.<br>
      </p>

      <p class="govuk-notification-banner__heading">
         You'll be able to check if your area is due a payment in November 2025.
        </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}

    {{ govukInput({
      label: {
        text: "What is your postcode?",
        classes: "govuk-label--m"
      },
      hint: {
        text: "For example LS1 1AG."
      },
      id: "postcode",
      name: "postcode",
      classes: "govuk-input--width-10"
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "search-results"
    }) }}

  </div>
</div>

{% endblock %}