{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Type of Cost of Living payment"
          },
          value: {
            text: "£301, £300 or £299 for a low income benefit"
          },
          actions: {
            items: [
              {
                href: "which-benefit-were-you-expecting",
                text: "Change",
                visuallyHiddenText: "Question 1"
              }
            ]
          }
        }
        ,
        {
            key: {
              text: "Benefit"
            },
            value: {
              text: "income-based Jobseeker's Allowance (JSA)"
            },
            actions: {
              items: [
                {
                  href: "which-benefit-were-you-expecting",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Which payment are you missing?"
            },
            value: {
              text: "£299 paid between 6 February and 22 February 2024 for most people"
            },
            actions: {
              items: [
                {
                  href: "which-benefit-were-you-expecting",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sarah Phillips"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "1/1/1992"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: "JR172655D"
            },
            actions: {
              items: [
                {
                  href: "personal-details",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: "72 Guild Street"
            },
            actions: {
              items: [
                {
                  href: "what-is-your-address",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: "01234567891"
            },
            actions: {
              items: [
                {
                  href: "what-is-your-telephone-number",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      })
     }}

      <form action="/mtb5-details-received" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
