{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
We've received your details
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
    titleText: "We've received your details"
    }) }}

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>We will look into whether you should have had the £299 Cost of Living Payment.</p>
     
    <p>We will usually get back to you within 2 weeks, but this may take longer.</p>
     
    <p>We will phone you, write to you or put a message in your Universal Credit journal, if you have one.</p>

    <h2 class="govuk-heading-m">
      Do you want to report another missing Cost of Living Payment?
    </h2>

    <p class="govuk-body"><a class="govuk-link" href="index.html">Report another missing Cost of Living Payment</a></p>

    <h2 class="govuk-heading-m">
      Other benefits and financial support
    </h2>

    <p class="govuk-body">Check if you could get any <a class="govuk-link" href="#">further benefits or financial
        support</a>.</p>

        <p class="govuk-body">
          <a href="#">
            What did you think of this service?
          </a> (takes 30 seconds)
        </p>
    
  </div>
</div>

{% endblock %}