{% extends "layouts/main.html" %}

{% set serviceName %}
  Report a missing Cost of Living Payment
{% endset%}

{% block pageTitle %}
Report a missing Cost of Living Payment
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Find out how to report a missing Cost of Living Payment
    </h1>

    <p>Use this service if you were expecting one of the following Cost of Living Payments but have not received it:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>£301 paid between 25 April and 17 May 2023 for most people</li>
      <li>£300 paid between 31 October and 19 November 2023 for most people</li>
      <li>£299 paid between 6 February and 22 February 2024 for most people</li>
      <li>£150 Disability Cost of Living Payment paid between 20 June and 4 July for most people</li>
    </ul>

    <p>You'll need your National Insurance number. If you've lost your National Insurance number, check <a
        href="https://www.gov.uk/lost-national-insurance-number">how to find a lost National Insurance number</a>.</p>

    <p> Before reporting a missing payment, check your:</p>
     <ul class="govuk-list govuk-list--bullet">
      <li>Bank</li>
      <li>Building society or credit union account</li>
      <li>Payment Exception Service voucher receipt</li>
     </ul>
    <p>The payment will be made separately from your benefit.</p>

    <p>Do not report the same missing payment more than once. We will reply to you as soon as we can.</p>

    {{ govukButton({
      text: "Start now",
      href: "types-of-cost-of-living-payment",
      isStartButton: true
    }) }}

  </div>

</div>

{% endblock %}