{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% from "govuk/components/panel/macro.njk" import govukPanel %}

          {{ govukPanel({
            titleText: "Application complete"
          }) }}
    
          <h2 class="govuk-heading-m">What happens next</h2>

         <p> We will check the information in your request against your National Insurance number and benefit record.</p>

         <p> You should receive a letter in the post to the address on your benefit record within 5 working days.</p>

            <p> You do not need to contact the office that pays your benefit unless it has been more than 5 working days since you applied, and you have not received a letter.</p>
    
          <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
          </p>
    

{% endblock %}
