{% extends "layouts/main.html" %}

{% set serviceName %}
  Contact the Winter Fuel Payments Centre  
{% endset %}

{% block pageTitle %}
  Design history – {{ serviceName }}
{% endblock %}

{% block header %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "#",
         container: true
     })
 }}
 {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Contact the Winter Fuel Payments Centre</span>
      Design history
    </h1>

    <div class="dwp-timeline">
      <ol class="dwp-timeline__items">

        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">Early Nov 2023</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v2/index.html">Version 2</a> - Eligibility check {{govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</h2>
          {{ govukDetails({
            summaryText: "Main changes",
            html: 
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Change",
                  classes: "govuk-!-width-one-half"
                },
                {
                  text: "Why we made it"
                }
              ],
              rows: [
                [
                  {
                    text: "Added a question at the start of the journey for the user's date of birth."
                  },
                  {
                    text: "The Winter Fuel Payment Centre were receiving a high volume of emails, many of which are enquiries from ineligible users because they weren't at State Pension age."
                  }
                ],
                [
                  {
                    text: "Added a drop out screen for if they aren't eligible."
                  },
                  {
                    text: "So the user knows why they aren't able to contact the Winter Fuel Payment Centre."
                  }
                ] 
              ]   
            })
          }) }}
        </li>
       
        <li class="dwp-timeline__item">
          <p class="dwp-timeline__datetime">Unknown</p>
          <h2 class="dwp-timeline__heading"><a class="govuk-link" href="v1/index.html">Version 1</a></h2>
          
            </h2>
          </div>
        </li>
      </ol>
      </div>
  
  </div>
</div>
{% endblock %}
