{% extends "layouts/main.html" %}
{% extends "layouts/headers/request-information-about-underpaid-state-pension-for-someone-who-has-died.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      The request information about underpaid State Pension for someone who has died service has closed.
    </p>
    <p class="govuk-body">
      We will process applications submitted before this time or that are already in progress. 
   </p>
    <p class="govuk-body">
      Contact us if you need to speak to someone about the service and your application.
    </p>
    <p class="govuk-body">Phone:<br>
      <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
    </p>
    <p class="govuk-body">Opening times:<br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8:30am to 4:30pm</strong>
    </p>
  </div>
</div>
{% endblock %}