{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Are you wanting to request CCTV or Body Worn Camera footage? - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="" method="post">

        {{ govukRadios({
          name: "typeOfFootage",
          fieldset: {
            legend: {
              text: "What type of footage are you requesting?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "CCTV footage~/personal-information-request/v6/footage-details-location",
              text: "CCTV footage"
            },
            {
              value: "Body Worn Camera footage~/personal-information-request/v6/footage-details-location",
              text: "Body Worn Camera footage"
            }
            ,
            {
              value: "CCTV and Body Worn Camera footage~/personal-information-request/v6/footage-details-location",
              text: "CCTV and Body Worn Camera footage"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
