{% extends "layouts/main.html" %}
{% extends "layouts/headers/request-information-about-underpaid-state-pension-for-someone-who-has-died.html" %}

{% block pageTitle %}
  Sorry, the service is unavailable - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      The 'Request information about underpaid State Pension for someone who has died' service has closed. 
    </p>
    <p class="govuk-body">
      Where we knew the details of people who may have been affected, we have contacted their next of kin or executor.
    </p>
    <p class="govuk-body">
      You can contact us about someone you think may have been underpaid State Pension if both of the following apply:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you are their next of kin or executor/li>
      <li>we have not contacted you</li>
    </ul>
    <p class="govuk-body">
      Find out <a class="govuk-link" href="https://www.gov.uk/guidance/request-information-about-underpaid-state-pension-for-someone-who-has-died">how to contact us to request information about underpaid State Pension for someone who has died</a>.
    </p>
  </div>
</div>
{% endblock %}




