{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/pension-credit.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk/"
      },
      {
      text: "Welfare",
      href: "https://www.gov.uk/welfare"
      },
      {
      text: "Jobseeker's Allowance and low income benefits",
      href: "https://www.gov.uk/welfare/jobseekers-allowance"
    }]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form"  method="post">

      <span class="govuk-caption-l">Pension Credit calculator</span>

      {% call govukFieldset({
        legend: {
          text: "3. Do you pay housing costs other than mortgage payments or rent?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p class="govuk-body">These costs are:</p>

<ul class="govuk-list govuk-list--bullet">
<li>service charges</li>
<li>co-ownership payments</li>
<li>ground rents</li>
<li>crown tenant rent</li>
<li>rentcharges</li>
<li>tent or camp charges</li>
</ul>


      {{ govukRadios({
        name: "have-housing-costs",
        id: "have-housing-costs",
        items: [
          {
            value: "Yes~/pension-credit-calculator/v7/cant-use-calculator-housing-costs",
            text: "Yes"
          },
          {
            value: "No~/pension-credit-calculator/v7/deferring-state-pension",
            text: "No"
          },
          {
            value: "Not sure~/pension-credit-calculator/v7/cant-use-calculator-housing-costs",
            text: "Not sure"
          }
        ]
      }) }}

      {% endcall %}

      {{ govukButton({
      text: "Next step"
      }) }}

      <section class="govuk-!-padding-top-6">
        <h2 class="govuk-heading-m">Your answers</h2>

        <p class="govuk-body">
          <a href="index" class="govuk-link">Start again</a>
        </p>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "1. Are you or your partner self-employed?"
              },
              value: {
                text: data['self-employed']
              },
              actions: {
                items: [
                  {
                    href: "self-employed",
                    text: "Change",
                    visuallyHiddenText: "1. Are you or your partner self-employed?"
                  }
                ]
              }
            },
            {
              key: {
                text: "2. Apart from the place where you live, do you or your partner own any other property or land?"
              },
              value: {
                text: data['own-more-than-one-property']
              },
              actions: {
                items: [
                  {
                    href: "own-more-than-one-property",
                    text: "Change",
                    visuallyHiddenText: "2. Apart from the place where you live, do you or your partner own any other property or land?"
                  }
                ]
              }
            }
          ]
        }) }}

    </section>


    </form>
  </div>
</div>

{% endblock %}