{% extends "layouts/main.html" %}

{% set serviceName %}
  Cold Weather Payments
{% endset%}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Which country do you want to check a postcode for?</h1>
  
    <p class="govuk-body"><a class="govuk-link" href="search">England</a></p>
    <p class="govuk-body"><a class="govuk-link" href="scotland">Scotland</a></p>
    <p class="govuk-body"><a class="govuk-link" href="search">Wales</a></p>

  </div>
</div>

{% endblock %}