{% extends "layouts/main.html" %}

{% set serviceName %}
  Cold Weather Payments
{% endset%}

{% block pageTitle %}
  Payments in Scotland - Cold Weather Payments
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Payments in Scotland
    </h1>

    <p class="govuk-body">Cold Weather Payments have been replaced by a new benefit, Winter Heating Payment, for households in Scotland.</p>
    <p class="govuk-body"><a class="govuk-link" href="https://www.mygov.scot/winter-heating-payment">Find out about Winter Heating Payment in Scotland</a>.</p>
    <h2 class="govuk-heading-l">Help us improve</h2>
    <p class="govuk-body"><a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VoCNQgbNAjxHjLjIMX0kidBUMFo5WkZGOFUyWE5LS0NNQUhHRzhaTjZKVi4u">Give your feedback on this service</a></p>

  </div>
</div>

{% endblock %}