{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="past-partner-standard-or-enhanced-rate" method="post">

    {{ govukRadios({
      name: "esa--did-you-live-with-a-partner",
      fieldset: {
        legend: {
          text: "Did you live with a partner?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
