{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

    {{ govukRadios({
      name: "esa--is-partner-blind-sight-impaired",
      fieldset: {
        legend: {
          text: "Is your partner registered blind or severely sight impaired?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes~/esa-sdp-review/v1/check-your-answers",
          text: "Yes"
        },
        {
          value: "no~/esa-sdp-review/v1/not-eligible",
          text: "No"
        },
        {
          value: "dont-know~/esa-sdp-review/v1/check-your-answers",
          text: "Don't know"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
