{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="" method="post">

    {{ govukRadios({
      name: "esa--present-in-receipt",
      value: data['esa--present-in-receipt'],
      fieldset: {
        legend: {
          text: "Are you in receipt of standard or enhanced rate ADP/PIP or middle or high rate DLA?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Yes~/esa-sdp-review/v1/do-you-live-with-a-partner",
          text: "Yes",
          checked: true if data["esa--present-in-receipt"] === "Yes"
        },
        {
          value: "No~/esa-sdp-review/v1/not-eligible",
          text: "No",
          checked: true if data["esa--present-in-receipt"] === "No"
        },
        {
          value: "Dont-know~/esa-sdp-review/v1/do-you-live-with-a-partner",
          text: "Don't know",
          checked: true if data["esa--present-in-receipt"] === "Dont-know"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
