{% extends "layouts/main.html" %}
{% extends "layouts/headers/esa-sdp-review.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="what-is-your-national-insurance-number" method="post">

    {{ govukDateInput({
      id: "dob",
      namePrefix: "esa--dob",
      fieldset: {
        legend: {
          text: "What is your date of birth?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          autocomplete: "bday-day"
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          autocomplete: "bday-month"
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          autocomplete: "bday-year"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      attributes: "govuk-button"
    }) }}
  </form>
  </div>
</div>

{% endblock %}
