{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Your birth of birth - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      What time period should the information cover?
    </h1>

    {{ govukDateInput({
      id: "date-from",
      namePrefix: "date-from",
      fieldset: {
        legend: {
          text: "From",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 27 9 2021"
      }
    }) }}

    {{ govukDateInput({
      id: "date-to",
      namePrefix: "date-to",
      fieldset: {
        legend: {
          text: "To",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, 16 10 2021"
      }
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "address-in-the-uk"
    }) }}

  </div>
</div>

{% endblock %}
