{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
Check your answers - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      {{ data | dump }}

      <form class="form" action="" method="post">

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Your full name"
          },
          value: {
            text: data['full-name']
          },
          actions: {
            items: [
              {
                href: "index",
                text: "Change",
                visuallyHiddenText: "your full name"
              }
            ]
          }
        },
        {
            key: {
              text: "Have you been known by another name?"
            },
            value: {
              text: data['another-name']
            },
            actions: {
              items: [
                {
                  href: "index",
                  text: "Change",
                  visuallyHiddenText: "have you been known by another name?"
                }
              ]
            }
          },
          {
            key: {
              text: "Your previous names"
            },
            value: {
              text: data['previous-names']
            },
            actions: {
              items: [
                {
                  href: "previous-names",
                  text: "Change",
                  visuallyHiddenText: "your previous names"
                }
              ]
            }
          },
          {
            key: {
              text: "Your date of birth"
            },
            value: {
              text: data | isoDateFromDateInput("date-of-birth") | govukDate("truncate")
            },
            actions: {
              items: [
                {
                  href: "date-of-birth",
                  text: "Change",
                  visuallyHiddenText: "your date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you have an address in the UK?"
            },
            value: {
              text: data['address-in-uk']
            },
            actions: {
              items: [
                {
                  href: "address",
                  text: "Change",
                  visuallyHiddenText: "do you have an address in the UK?"
                }
              ]
            }
          },
          {
            key: {
              text: "Your UK address"
            },
            value: {
              text: data['uk-home-address-line-1']
            },
            actions: {
              items: [
                {
                  href: "home-address-uk",
                  text: "Change",
                  visuallyHiddenText: "your UK address"
                }
              ]
            }
          },
          {
            key: {
              text: "Should we send the information to a different address?"
            },
            value: {
               text: data['write-to-different-address']
            },
            actions: {
              items: [
                {
                  href: "write-to-different-address",
                  text: "Change",
                  visuallyHiddenText: "should we send the information to a different address?"
                }
              ]
            }
          },
          {
            key: {
              text: "Can you tell us your National Insurance number?"
            },
            value: {
              html:  data['nino']
            },
            actions: {
              items: [
                {
                  href: "national-insurance-number",
                  text: "Change",
                  visuallyHiddenText: "your National Insurance number"
                }
              ]
            }
          },
          {
            key: {
              text: "What time period should the information cover - From"
            },
            value: {
              text: data | isoDateFromDateInput("date-from") | govukDate("truncate")
            },
            actions: {
              items: [
                {
                  href: "dates",
                  text: "Change",
                  visuallyHiddenText: "what time period should the information cover - From"
                }
              ]
            }
          },
          {
            key: {
              text: "What time period should the information cover - To"
            },
            value: {
              text: data | isoDateFromDateInput("date-to") | govukDate("truncate")
            },
            actions: {
              items: [
                {
                  href: "dates",
                  text: "Change",
                  visuallyHiddenText: "what time period should the information cover - To"
                }
              ]
            }
          },
          {
            key: {
              text: "What information do you need?"
            },
            value: {
              text: data['information']
            },
            actions: {
              items: [
                {
                  href: "information",
                  text: "Change",
                  visuallyHiddenText: "what information you need"
                }
              ]
            }
          },
          {
            key: {
              text: "Can we call you if we need to check something?"
            },
            value: {
              text: data['callback-yes']
            },
            actions: {
              items: [
                {
                  href: "callback",
                  text: "Change",
                  visuallyHiddenText: "can we call you if we need to check something?"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you need the information in an alternative format?"
            },
            value: {
              text: data['alternative-format']
            },
            actions: {
              items: [
                {
                  href: "alternative-format",
                  text: "Change",
                  visuallyHiddenText: "do you need the information in an alternative format?"
                }
              ]
            }
          }
        ]
      })
     }}

      {{ govukButton({
        text: "Accept and send request",
        attributes: "govuk-button"
      }) }}

      </form>
    </div>
  </div>
{% endblock %}
