{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Your birth of birth - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" action="" method="post">

    {{ govukDateInput({
      id: "date-of-birth",
      namePrefix: "date-of-birth",
      fieldset: {
        legend: {
          text: "Your date of birth",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      }
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "address"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
