{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Your name - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Your name
    </h1>

    <form class="form" action="" method="post">

    {{ govukInput({
      label: {
        text: "Your full name",
        classes: "govuk-label--m"
      },
      classes: "govuk-input--width-20",
      id: "full-name",
      name: "full-name"
    }) }}

    {{ govukRadios({
      name: "anotherName",
      fieldset: {
        legend: {
          text: "Have you been known by another name?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes~/personal-information-request/v1/previous-names",
          text: "Yes"
        },
        {
          value: "No~/personal-information-request/v1/date-of-birth",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
