{% extends "layouts/main.html" %}
{% extends "layouts/headers/personal-information-request.html" %}

{% block pageTitle %}
  Previous names - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Information you need
    </h1>

    <form class="form" action="" method="post">
    
    {{ govukTextarea({
      name: "information",
      id: "information",
      rows: "8",
      label: {
        text: "What information do you need?",
        classes: "govuk-label--m"
      },
      hint: {
        text: "Be as specific as you can. If your request relates to a particular benefit or payment, please say what this is."
      }
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "callback"
    }) }}
    </form>

  </div>
</div>

{% endblock %}
