{% extends "layouts/main.html" %}
{% extends "layouts/headers/find-your-nearest-jobcentre-cms.html" %}

{% block beforeContent %}
   
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Sign in</h1>
   
    <p class="govuk-body">
        Access to this system is for authorised users only.
    </p>
    
    {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}
    
    {{ govukPasswordInput({
        label: {
            text: "Password",
            classes: "govuk-label--m"
        },
        id: "password-input",
        name: "password"
    }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Login"
        }) }}
  
        <a class="govuk-link" href="forgotten-password.html">Forgotten password</a>
      </div>

  </div>
</div>
{% endblock %}




