{% extends "layouts/main.html" %}
{% extends "layouts/headers/rebrand/personal-information-request.html" %}

{% block pageTitle %}
  Previous names - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Previous names
    </h1>

    <form class="form" action="date-of-birth" method="post">
      {{ govukTextarea({
        name: "previous-names",
        id: "previous-names",
        value: data['previous-names'],
        label: {
          text: "Your previous names",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Write each name in full (first name and last name)"
        }
      }) }}

      {{ govukButton({
        text: "Continue",
        attributes: "govuk-button"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
