{% extends "layouts/main.html" %}

{% set serviceName %}
  Pension Credit calculator 
{% endset %}

{% block pageTitle %}
  {{ serviceName }} 
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceUrl: "index.html"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk/"
      },
      {
      text: "Welfare",
      href: "https://www.gov.uk/welfare"
      },
      {
      text: "Jobseeker's Allowance and low income benefits",
      href: "https://www.gov.uk/welfare/jobseekers-allowance"
    }]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pension Credit calculator
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

    <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak"
      data-govspeak-module-started="true">

      <p>Find out if you're eligible for <a href="/pension-credit" class="govuk-link">Pension Credit</a> and how much
        you could get.</p>

      <p>You'll need details of:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>earnings, benefits and pensions</li>
        <li>savings and investments</li>
      </ul>

      <p>You'll need the same details for your partner if you have one.</p>

      {{ govukInsetText({
      html: '<p>This service is also available <a href="/cyfrifiannell-credyd-pensiwn" class="govuk-link">in Welsh
          (Cymraeg)</a>.</p>'
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "deferring-state-pension",
        isStartButton: true,
        classes: "govuk-!-margin-bottom-9"
      }) }}

      <h2 class="govuk-heading-m">Who cannot use the calculator</h2>

      <p>You cannot use the calculator if you or your partner:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are deferring your State Pension</li>
        <li>own more than one property</li>
        <li>are self employed</li>
        <li>have housing costs (such as service charges or Crown Tenant rent) which are neither mortgage repayments nor
          rent covered by Housing Benefit</li>
        <li>gets Housing Benefit for people over State Pension age, and the other person is under State Pension age</li>
      </ul>

      <p>If you cannot use the calculator, you can call the Pension Credit claim line. There's a different number if you
        have deferred claiming your State Pension.</p>

      <h3 class="govuk-heading-s">Pension Credit claim line</h3>

      <div class="contact app-mainstream-inset">
        <p>0800 99 1234<br>
          <a href="http://ngts.org.uk/" class="govuk-link">NGT text relay</a> (if you cannot hear or speak on the
          phone): 18001 then 0800 99 1234<br>
          Monday to Friday, 8am to 6pm (except public holidays)<br>
          <a href="/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
      </div>

      <h3 class="govuk-heading-s">Deferring the State Pension</h3>

      <p>Call the Pension Service helpline and ask about Pension Credit.</p>

      <div class="contact app-mainstream-inset">
        <p>Pension Service helpline <br>

          <a href="http://ngts.org.uk/" class="govuk-link">NGT text relay</a> (if you cannot hear or speak on the
          phone): 18001 then 0800 731 0469<br>
          Monday to Friday, 8am to 6pm (except public holidays)<br>
          <a href="/call-charges" class="govuk-link">Find out about call charges</a>
        </p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <a href="https://www.gov.uk/pension-credit" class="govuk-link govuk-body-s">
              Pension Credit
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/state-pension-if-you-retire-abroad" class="govuk-link govuk-body-s">
              State Pension if you retire abroad
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/state-pension" class="govuk-link govuk-body-s">
              The basic State Pension
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/benefit-fraud" class="govuk-link govuk-body-s">
              Benefit fraud
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
  </main>
</div>

{% endblock %}