{% extends "layouts/main.html" %}
{% extends "layouts/headers/pension-credit.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk/"
      },
      {
      text: "Welfare",
      href: "https://www.gov.uk/welfare"
      },
      {
      text: "Jobseeker's Allowance and low income benefits",
      href: "https://www.gov.uk/welfare/jobseekers-allowance"
    }]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Pension Credit calculator</span>

    <h1 class="govuk-heading-l">
      You are not eligible for Pension Credit
    </h1>

    <p class="govuk-body">You are not eligible for Pension Credit. This is because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you or your partner have not reached State Pension age</li>
      <li>neither of you are getting Housing Benefit for people over State Pension age</li>
    </ul>

    <p class="govuk-body">A partner is either:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your husband, wife or civil partner - if you live with them</li>
      <li>someone you live with as a couple, without being married or in a civil partnership</li>
    </ul>
    
    <p class="govuk-body">You might be eligible for <a href="#">Universal Credit</a>.</p>
    <section class="govuk-!-padding-top-6">
      <h2 class="govuk-heading-m">Your answers</h2>

      <p class="govuk-body">
        <a href="index" class="govuk-link">Start again</a>
      </p>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "1. Are you or your partner self-employed?"
            },
            value: {
              text: data['self-employed']
            },
            actions: {
              items: [
                {
                  href: "self-employed",
                  text: "Change",
                  visuallyHiddenText: "1. Are you or your partner self-employed?"
                }
              ]
            }
          },
          {
            key: {
              text: "2. Apart from the place where you live, do you or your partner own any other property or land?"
            },
            value: {
              text: data['own-more-than-one-property']
            },
            actions: {
              items: [
                {
                  href: "own-more-than-one-property",
                  text: "Change",
                  visuallyHiddenText: "2. Apart from the place where you live, do you or your partner own any other property or land?"
                }
              ]
            }
          },
          {
            key: {
              text: "3. Do you pay housing costs other than mortgage payments or rent?"
            },
            value: {
              text: data['have-housing-costs']
            },
            actions: {
              items: [
                {
                  href: "housing-costs",
                  text: "Change",
                  visuallyHiddenText: "3. Do you pay housing costs other than mortgage payments or rent?"
                }
              ]
            }
          },
          {
            key: {
              text: "4. Are you or your partner delaying (deferring) your State Pension?"
            },
            value: {
              text: data['deferring-state-pension']
            },
            actions: {
              items: [
                {
                  href: "deferring-state-pension",
                  text: "Change",
                  visuallyHiddenText: "4. Are you or your partner delaying (deferring) your State Pension?"
                }
              ]
            }
          },
          {
            key: {
              text: "5. Are you or your partner under State Pension age?"
            },
            value: {
              text: data['under-state-pension-age']
            },
            actions: {
              items: [
                {
                  href: "under-state-pension-age",
                  text: "Change",
                  visuallyHiddenText: "5. Are you or your partner under State Pension age?"
                }
              ]
            }
          },
          {
            key: {
              text: "6. Are you or your partner getting Housing Benefit for people over State Pension age?"
            },
            value: {
              text: data['housing-benefit']
            },
            actions: {
              items: [
                {
                  href: "housing-benefit",
                  text: "Change",
                  visuallyHiddenText: "6. Are you or your partner getting Housing Benefit for people over State Pension age?"
                }
              ]
            }
          }
        ]
      }) }}

  </section>
  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <a href="https://www.gov.uk/pension-credit" class="govuk-link govuk-body-s">
              Pension Credit
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/state-pension-if-you-retire-abroad" class="govuk-link govuk-body-s">
              State Pension if you retire abroad
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/state-pension" class="govuk-link govuk-body-s">
              The basic State Pension
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/benefit-fraud" class="govuk-link govuk-body-s">
              Benefit fraud
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>

{% endblock %}