{% extends "layouts/main.html" %}
{% extends "layouts/headers/pension-credit.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "https://www.gov.uk/"
      },
      {
      text: "Welfare",
      href: "https://www.gov.uk/welfare"
      },
      {
      text: "Jobseeker's Allowance and low income benefits",
      href: "https://www.gov.uk/welfare/jobseekers-allowance"
    }]
  }) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">

      <span class="govuk-caption-l">Pension Credit calculator</span>
{% call govukFieldset({
  legend: {
    text: "1. Are you or your partner self-employed?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

  <p class="govuk-body">A partner is either:</p>

<ul class="govuk-list govuk-list--bullet">
<li>your husband, wife or civil partner - if you live with them</li>
<li>someone you live with as a couple, without being married or in a civil partnership</li>
</ul>

{{ govukRadios({
  name: "self-employed",
  id: "self-employed",
  items: [
    {
      value: "Yes~/pension-credit-calculator/v3/cant-use-calculator-self-employed",
      text: "Yes"
    },
    {
      value: "No~/pension-credit-calculator/v3/own-more-than-one-property",
      text: "No"
    }
  ]
}) }}

{% endcall %}

      {{ govukButton({
      text: "Next step"
      }) }}

    </form>
  </div>
</div>

{% endblock %}