{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK team products
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@ukic/web-components/dist/core/core.css" crossorigin="anonymous" />
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "/",
         container: true
     })
 }}

  <div class="app-big-bar">
    <div class="govuk-width-container app-big-bar__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Prototypes for DWP GOV.UK products</h1>
          <p class="govuk-body-l">The GOV.UK team designs and builds forms and calculators to support user journeys on GOV.UK.</p>
          <p class="govuk-body-l">These are not real DWP products. They are prototypes used for research with users.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row govuk-products">
  <div class="govuk-grid-column-full">

    <div id="search-wrapper">
      <ic-search-bar size="large" id="search" name="search" placeholder="Start typing to search…" label="Search for a product" hide-label="true" aria-label="Search for a prototype"  class="search hydrated" value="">
      <input type="hidden" class="ic-input" name="ic-search-bar-input" value=""></ic-search-bar>
    </div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Ask for a Maternity Allowance claim form</h2>
        <p class="govuk-body app-card-title-description">
          Enables users to ask for a Maternity Allowance claim form to be posted to them. 
          Only available if you live in England, Scotland and Wales. There is a different process in Northern Ireland.
        </p>
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Ask for a Maternity Allowance claim form</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/maternity-allowance/how-to-claim" class="govuk-link">Maternity Allowance: How to claim</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/maternity-allowance-claim-form" class="govuk-link">Maternity Allowance claim form</a></p>
          </div>
        </details>
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Ask for a Maternity Allowance claim form</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 3<span class="govuk-visually-hidden">of Ask for a Maternity Allowance claim form</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="ask-for-a-maternity-allowance-claim-form/v2/index.html">Version 2<span class="govuk-visually-hidden">of Ask for a Maternity Allowance claim form</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">20 Nov 2023</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-2_ask-for-a-maternity-allowance-claim-form.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 2 of Ask for a Maternity Allowance claim form</span></a></td>
            </tr>
            <tr class="govuk-table__row">              
              <td class="govuk-table__cell"><a class="govuk-link" href="ask-for-a-maternity-allowance-claim-form/v1/index.html">Version 1<span class="govuk-visually-hidden">of Ask for a Maternity Allowance claim form</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_ask-for-a-maternity-allowance-claim-form.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Ask for a Maternity Allowance claim form</span></a></td>
            </tr>
          </tbody>
        </table>

      {{ govukButton({
        text: "View design history",
        classes: "govuk-button--secondary",
        href: "ask-for-a-maternity-allowance-claim-form/design-history.html",
        attributes: {
          "aria-label": "View design history for Ask for a Maternity Allowance claim form"
        }
      }) }}
      </div>
    </div>
          
    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Check your maternity allowance dates</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to work out their Test Period dates before they fill in the Maternity Allowance claim form. How much Maternity Allowance they get depends on their earnings or what they are treated as earning during their Test Period.
        </p>
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Check your maternity allowance dates</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/maternity-allowance/how-to-claim" class="govuk-link">Maternity Allowance: How to claim</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/maternity-allowance-claim-form" class="govuk-link">Maternity Allowance claim form</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/maternity-allowance-claim-form/test-period-table-from-october-2022-to-december-2024" class="govuk-link">Test Period table from August 2023 to December 2025</a></p>
          </div>
        </details>
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Check your maternity allowance dates</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 2<span class="govuk-visually-hidden">of Check your maternity allowance dates</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="check-your-maternity-allowance-dates/v1/index.html">Version 1<span class="govuk-visually-hidden">of Check your maternity allowance dates</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Alpha", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_check-your-maternity-allowance-dates.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Check your maternity allowance dates</span></a></td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Cold weather payments</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to check if any Cold Weather payments are due in their area.
        </p>
        </div>

        <div class="app-card-content">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Cold weather payments</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Version</th>
                <th scope="col" class="govuk-table__header">Phase</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">User journey</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Version 3<span class="govuk-visually-hidden">of Cold weather payments</span></td>
                <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">-</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link" href="cold-weather-payments/v2/index.html">Version 2<span class="govuk-visually-hidden">of Cold weather payments</span></a></td>
                <td class="govuk-table__cell">{{ govukTag({ text: "Live", classes: "govuk-tag--light-blue" })}}</td>
                <td class="govuk-table__cell">Nov 2023</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-2_cold-weather-payments.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 2 of Cold weather payments</span></a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link" href="cold-weather-payments/v1/index.html">Version 1<span class="govuk-visually-hidden">of Cold weather payments</span></a></td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_cold-weather-payments.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Cold weather payments</span></a></td>
              </tr>
            </tbody>
          </table>
    </div></div>

    <div class="app-card">
       <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact DWP about accessibility</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to contact us about the accessibility of a Department for Work and Pensions (DWP) website, service or document.
        </p>
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Contact DWP about accessibility</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/accessible-documents-policy" class="govuk-link">Accessible documents policy</a></p>
          </div>
        </details>
      </div>

      <div class="app-card-content">   
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Contact DWP about accessibility</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 2<span class="govuk-visually-hidden">of Contact DWP about accessibility</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="contact-dwp-about-accessibility/v1/index.html">Version 1<span class="govuk-visually-hidden">of Contact DWP about accessibility</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_contact-dwp-about-accessibility.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Contact DWP about accessibility</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact Employer Services</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to contact the Employer Services Line for advice about recruiting for their business.
        </p>
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Contact Employer Services</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/jobcentre-plus-help-for-recruiters/recruitment-advice-and-support" class="govuk-link">Jobcentre Plus help for recruiters: Recruitment advice and support</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/recruitment-disabled-people/encouraging-applications" class="govuk-link">Recruitment and disabled people: Encouraging applications</a></p>
          </div>
        </details>
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Contact Employer Services</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 2<span class="govuk-visually-hidden">of Contact Employer Services</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="contact-employer-services/v1/index.html">Version 1<span class="govuk-visually-hidden">of Contact Employer Services</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_contact-employer-services.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Contact Employer Services</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact the DWP ministerial correspondence team</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to contact the DWP ministerial correspondence team about our welfare, pensions and child maintenance policies.
        </p>
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Contact the DWP ministerial correspondence team</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/guidance/contact-the-department-for-work-and-pensions-about-its-policies" class="govuk-link">Contact the Department for Work and Pensions about its policies</a></p>
          </div>
        </details>
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Contact the DWP ministerial correspondence team</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 2<span class="govuk-visually-hidden">of Contact the DWP ministerial correspondence team</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="contact-the-dwp-ministerial-correspondence-team/v1/index.html">Version 1<span class="govuk-visually-hidden">of Contact the DWP ministerial correspondence team</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_contact-the-dwp-ministerial-correspondence-team.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Contact the DWP ministerial correspondence team</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact International Pension Centre</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to send an enquiry about pensions and benefits if they live abroad or have lived abroad.
        </p>  
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Contact International Pension Centre</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/international-pension-centre" class="govuk-link">International Pension Centre</a></p>
          </div>
        </details>    
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Contact International Pension Centre</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 2<span class="govuk-visually-hidden">of Contact International Pension Centre</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="contact-the-international-pension-centre/v1/index.html">Version 1<span class="govuk-visually-hidden">of Contact International Pension Centre</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_contact-the-international-pension-centre.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Contact International Pension Centre</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact the Winter Fuel Payments Centre</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to send an enquiry to the Winter Fuel Payments Centre.
        </p>   
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Contact the Winter Fuel Payments Centre</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/winter-fuel-payment/how-to-claim" class="govuk-link">Winter Fuel Payment: Check if you need to claim</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/winter-fuel-payment/if-you-live-abroad" class="govuk-link">Winter Fuel Payment: If you live abroad</a></p>
          </div>
        </details>    
      </div>

      <div class="app-card-content">   
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Contact the Winter Fuel Payments Centre</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="contact-winter-fuel-payments-centre/v2/index.html">Version 2<span class="govuk-visually-hidden">of Contact the Winter Fuel Payments Centre</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">Early Nov 2023</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-2_contact-winter-fuel-payments-centre.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 2 of Contact the Winter Fuel Payments Centre</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="contact-winter-fuel-payments-centre/v1/index.html">Version 1<span class="govuk-visually-hidden">of Contact the Winter Fuel Payments Centre</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_contact-winter-fuel-payments-centre.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Contact the Winter Fuel Payments Centre</span></a></td>
            </tr>
          </tbody>
        </table>

        {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "contact-winter-fuel-payments-centre/design-history",
          attributes: {
            "aria-label": "View design history for Contact the Winter Fuel Payments Centre"
          }
        }) }}
    </div>
  </div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Cost of Living</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to report a missing Cost of Living payment.
        </p> 
      </div>
      
      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Cost of Living</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="cost-of-living/retiring-mtb5/index.html">Retiring MTB5<span class="govuk-visually-hidden">Cost of Living</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">Mar 2024</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="cost-of-living/mtb5/index.html">MTB5<span class="govuk-visually-hidden">Cost of Living</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">Feb 2024</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="cost-of-living/retiring-mtb4/index.html">Retiring MTB4<span class="govuk-visually-hidden">Cost of Living</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="cost-of-living/mtb4/index.html">MTB4<span class="govuk-visually-hidden">Cost of Living</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Find out who to contact about money taken off your Universal Credit payment</h2>
        <p class="govuk-body app-card-title-description">         
          DWP can deduct money from user's Universal Credit payment if they have a debt. This product enables users to find out who to ask about money taken off for different situations. 
        </p>
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Find out who to contact about money taken off your Universal Credit payment</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/guidance/find-out-about-money-taken-off-your-universal-credit-payment" class="govuk-link">Find out about money taken off your Universal Credit payment</a></p>
          </div>
        </details>    
      </div>

        <div class="app-card-content">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Find out who to contact about money taken off your Universal Credit payment</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Version</th>
                <th scope="col" class="govuk-table__header">Phase</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">User journey</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link" href="find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v2/index.html">Version 2<span class="govuk-visually-hidden">of Find out who to contact about money taken off your Universal Credit payment</span></a></td>
                <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-2_find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 2 of Find out who to contact about money taken off your Universal Credit payment</span></a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link" href="find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v1/index.html">Version 1<span class="govuk-visually-hidden">of Find out who to contact about money taken off your Universal Credit payment</span></a></td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell">-</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Find out who to contact about money taken off your Universal Credit payment</span></a></td>
              </tr>
            </tbody>
          </table>
         
          {{ govukButton({
            text: "View design history",
            classes: "govuk-button--secondary",
            href: "find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/design-history.html",
            attributes: {
              "aria-label": "View design history for Find out who to contact about money taken off your Universal Credit payment"
            }
          }) }}
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Find your nearest Jobcentre</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to find the contact details of their nearest Jobcentre Plus.
        </p> 
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Find your nearest Jobcentre</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/contact-jobcentre-plus" class="govuk-link">Contact Jobcentre Plus</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/complaints-procedure" class="govuk-link">Complaints procedure</a></p>
          </div>
        </details>  
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Find your nearest Jobcentre</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 2 <span class="govuk-visually-hidden">of Find your nearest Jobcentre</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="find-your-nearest-jobcentre/v1/index.html">Version 1<span class="govuk-visually-hidden">of Find your nearest Jobcentre</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_find-your-nearest-jobcentre.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Find your nearest Jobcentre</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Get a proof of benefit letter</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to request a letter to prove they get Employment and Support Allowance, Income Support, Jobseeker's Allowance,
          Pension Credit or State Pension.
        </p> 
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Get a proof of benefit letter</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/guidance/request-your-personal-information-from-the-department-for-work-and-pensions" class="govuk-link">Request your personal information from the Department for Work and Pensions</a></p>
          </div>
        </details>  
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Get a proof of benefit letter</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="get-a-proof-of-benefit-letter/v1/index.html">Version 1<span class="govuk-visually-hidden">of Get a proof of benefit letter</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}} {{ govukTag({ text: "Replaced by Customer View in 2025", classes: "govuk-tag--yellow" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_get-a-proof-of-benefit-letter.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Get a proof of benefit letter</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Pension Credit Calculator</h2>
        <p class="govuk-body app-card-title-description">     
          Enables users to find out whether they might be eligible for Pension Credit and how much they could get.    
        </p> 
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Pension Credit Calculator</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/pension-credit/eligibility" class="govuk-link">Pension Credit: Eligibility</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/pension-credit/what-youll-get" class="govuk-link">Pension Credit: What you'll get</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/over-80-pension" class="govuk-link">Over 80 pension</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/guidance/universal-credit-if-youre-state-pension-age-and-get-a-migration-notice-letter" class="govuk-link">Universal Credit if you're State Pension age and get a Migration Notice letter</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/pension-credit-technical-guidance/a-detailed-guide-to-pension-credit-for-advisers-and-others" class="govuk-link">A detailed guide to Pension Credit for advisers and others (September 2024)</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/news/pension-credit-awareness-drive-as-thousands-of-eligible-pensioners-yet-to-claim--2" class="govuk-link">Pension Credit awareness drive as thousands of eligible pensioners yet to claim</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/pension-credit-toolkit/pension-credit-toolkit-advice-and-guidance-for-stakeholders" class="govuk-link">Pension Credit toolkit: advice and guidance for stakeholders</a></p>
          </div>
        </details>  
      </div>
      
      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Pension Credit Calculator</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="pension-credit-calculator/v5/index.html">Version 5<span class="govuk-visually-hidden">of Pension Credit Calculator</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">25 Nov 2024</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-5_pension-credit-calculator.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 5 of Pension Credit Calculator</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="pension-credit-calculator/v4/index.html">Version 4<span class="govuk-visually-hidden">of Pension Credit Calculator</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">14 Oct 2024</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-4_pension-credit-calculator.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 4 of Pension Credit Calculator</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="pension-credit-calculator/v3/index.html">Version 3<span class="govuk-visually-hidden">of Pension Credit Calculator</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">14 Oct 2024</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-3_pension-credit-calculator.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 3 of Pension Credit Calculator</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="pension-credit-calculator/v2/index.html">Version 2<span class="govuk-visually-hidden">of Pension Credit Calculator</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">27 Aug 2024</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-2_pension-credit-calculator.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 2 of Pension Credit Calculator</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="pension-credit-calculator/v1/index.html">Version 1 <span class="govuk-visually-hidden">of Pension Credit Calculator</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">27 Aug 2024</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_pension-credit-calculator.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Pension Credit Calculator</span></a></td>
            </tr>
          </tbody>
        </table>

        {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "pension-credit-calculator/design-history.html",
          attributes: {
            "aria-label": "View design history for Pension Credit calculator"
          }
        }) }}
    </div>
  </div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Request your personal information</h2>
        <p class="govuk-body app-card-title-description">     
          Enables users to request the personal information that DWP holds about them.    
        </p> 
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Request your personal information</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/guidance/request-your-personal-information-from-the-department-for-work-and-pensions" class="govuk-link">Request your personal information from the Department for Work and Pensions</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/restart-provider-guidance/restart-scheme-provider-guidance" class="govuk-link">Restart Scheme provider guidance</a></p>
            <p class="govuk-body"><a href="https://www.gov.uk/government/publications/framework-generic-guidance-provider-guidance/chapter-8-information-security" class="govuk-link">Chapter 8: information security</a></p>
          </div>
        </details> 
      </div>
      
      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Request your personal information</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 3 <span class="govuk-visually-hidden">of Request your personal information</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="personal-information-request/v2/index.html">Version 2<span class="govuk-visually-hidden">of Request your personal information</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">05 Nov 2024</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-2_personal-information-request.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 2 of Request your personal information</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="personal-information-request/v1/index.html">Version 1<span class="govuk-visually-hidden">of Request your personal information</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_personal-information-request.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Request your personal information</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Send a personal information request for a citizen</h2>
        <p class="govuk-body app-card-title-description">   
          Enables internal staff to send a request on a citizen's behalf if they cannot, or will not, complete the request themselves, for the personal information that DWP holds about them.  
        </p> 
      </div>

      <div class="app-card-content">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Send a personal information request for a citizen</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Version 3 <span class="govuk-visually-hidden">of Send a personal information request for a citizen</span></td>
              <td class="govuk-table__cell">{{govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="personal-information-request/v2/index.html">Version 2<span class="govuk-visually-hidden">ofSend a personal information request for a citizen</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_personal-information-request-for-a-citizen.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Send a personal information request for a citizen</span></a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="personal-information-request/v1/index.html">Version 1<span class="govuk-visually-hidden">ofSend a personal information request for a citizen</span></a></td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_personal-information-request-for-a-citizen.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Send a personal information request for a citizen</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>

    <div class="app-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Request information about underpaid state pension for someone who has died</h2>
        <p class="govuk-body app-card-title-description">         
          Enables users to request information about someone who has died that may have been underpaid State Pension and they are their next of kin or executor of the estate.
        </p> 
        <details class="govuk-details app-card-title-govuk-links">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">GOV.UK pages<span class="govuk-visually-hidden">for Request information about underpaid state pension for someone who has died</span></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body"><a href="https://www.gov.uk/guidance/request-information-about-underpaid-state-pension-for-someone-who-has-died" class="govuk-link">Request information about underpaid State Pension for someone who has died</a></p>
          </div>
        </details> 
      </div>

      <div class="app-card-content">
         <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Prototype versions for Request information about underpaid state pension for someone who has died</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Version</th>
              <th scope="col" class="govuk-table__header">Phase</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">User journey</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="request-information-about-underpaid-state-pension-for-someone-who-has-died/v2/service-unavailable.html">Version 2<span class="govuk-visually-hidden">of Request information about underpaid state pension for someone who has died</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Awaiting approval", classes: "govuk-tag--yellow" })}}</td>
              <td class="govuk-table__cell">11 Dec 2024</td>
              <td class="govuk-table__cell">-</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a class="govuk-link" href="request-information-about-underpaid-state-pension-for-someone-who-has-died/v1/index.html">Version 1<span class="govuk-visually-hidden">of Request information about underpaid state pension for someone who has died</span></a></td>
              <td class="govuk-table__cell">{{ govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })}} {{ govukTag({ text: "Decommissioned by 31 Dec 2024", classes: "govuk-tag--yellow" })}}</td>
              <td class="govuk-table__cell">-</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="/public/images/version-1_request-information-about-underpaid-state-pension-for-someone-who-has-died.pdf#navpanes=0" type="application/pdf">User journey (PDF)<span class="govuk-visually-hidden">for version 1 of Request information about underpaid state pension for someone who has died</span></a></td>
            </tr>
          </tbody>
        </table>
    </div></div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}