{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK team products
{% endblock %}

{% block header %}

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block bodyStart %}
 {% from "internal-service-header/macro.njk" import dwpHeader %}
 {{
     dwpHeader({
         serviceName: "GOV.UK team prototype library" ,
         serviceHref: "#",
         container: true
     })
 }}

  <div class="app-big-bar">
    <div class="govuk-width-container app-big-bar__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">Prototypes for DWP GOV.UK products</h1>
          <p class="govuk-body-l">The GOV.UK team designs and builds forms and calculators to support user journeys on GOV.UK.</p>
          <p class="govuk-body-l">These are not real DWP services. They are prototypes used for research with users.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 

{% block content %}
<div class="govuk-grid-row govuk-products">
  <div class="govuk-grid-column-full">

    <div class="govuk-form-group">
      <label class="govuk-label" for="search">
        Search
      </label>
      <input type="text" id="search" name="search" class="govuk-input govuk-input--width-10" />
      <a href="#" class="govuk-link clear-search-link" onclick="clearSearch()">Clear search</a>
    </div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Ask for a Maternity Allowance claim form</h2>
      </div>

      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 3"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="ask-for-a-maternity-allowance-claim-form/v2/index.html">Version 2</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "20 Nov 2023"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="ask-for-a-maternity-allowance-claim-form/v1/index.html">Version 1</a>'
              },
              {
                text: "-"
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

      <!--<div class="app-design-history">
        <p class="govuk-body">
          <a class="govuk-link" href="ask-for-a-maternity-allowance-claim-form/design-history.html">Design history</a>
        </p>
      </div>-->

      {{ govukButton({
        text: "View design history",
        classes: "govuk-button--secondary",
        href: "ask-for-a-maternity-allowance-claim-form/design-history.html"
      }) }}
      </div>
    </div>
          
    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Check your maternity allowance dates</h2>
      </div>

      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="check-your-maternity-allowance-dates/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Alpha", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

    <!--     {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->

        </div>
    </div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Cold weather payments</h2>
        </div>

        <div class="app-card-content">
      
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 3"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="cold-weather-payments/v2/index.html">Version 2</a>'
              },
              {
                html: govukTag({ text: "Live - ?", classes: "govuk-tag--light-blue" })
              },
              {
                text: "Nov 2023"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="cold-weather-payments/v1/index.html">Version 1</a>'
              },
              {
                text: "-"
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

        <!-- {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
       <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact DWP about accessibility</h2>
      </div>

      <div class="app-card-content">       
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="contact-dwp-about-accessibility/v1/#">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

     <!--     {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact Employer Services</h2>
      </div>

      <div class="app-card-content">
           
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="contact-dwp-about-accessibility/v1/#">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

     <!--    {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact the DWP ministerial correspondence team</h2>
      </div>

      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="contact-the-dwp-ministerial-correspondence-team/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

   <!--      {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact International Pension Centre</h2>
      </div>
      
      <div class="app-card-content">
      {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="contact-the-international-pension-centre/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

  <!--       {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Contact the Winter Fuel Payments Centre</h2>
      </div>

      <div class="app-card-content">      
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                html: '<a class="govuk-link" href="contact-winter-fuel-payments-centre/v2/index.html">Version 2</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "Early Nov 2023"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="contact-winter-fuel-payments-centre/v1/index.html">Version 1</a>'
              },
              {
                text: "-"
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

        {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "contact-winter-fuel-payments-centre/design-history"
        }) }}
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Cost of Living</h2>
      </div>
      
      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                html: '<a class="govuk-link" href="cost-of-living/retiring-mtb5/index.html">Retiring MTB5</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "Mar 2024"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="cost-of-living/mtb5/index.html">MTB 5</a>'
              },
              {
                text: "-"
              },
              {
                text: "Feb 2024"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="cost-of-living/retiring-mtb4/index.html">Retiring MTB 4</a>'
              },
              {
                text: "-"
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="cost-of-living/mtb4/index.html">MTB 4</a>'
              },
              {
                text: "-"
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}
      </div>
    </div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Find out who to contact about money taken off your Universal Credit payment</h2>
        </div>

        <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="find-out-who-to-contact-about-money-taken-off-your-universal-credit-payment/v1/#">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}
<!-- 
        {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Find your nearest Jobcentre</h2>
      </div>
      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="find-your-nearest-jobcentre/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - ?", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

        <!-- {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Get a proof of benefit letter</h2>
      </div>
      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="get-a-proof-of-benefit-letter/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

        <!-- {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Request your personal information</h2>
      </div>
      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="personal-information-request/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

        <!-- {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Send a personal information request for a citizen</h2>
      </div>
      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="personal-information-request-for-a-citizen/v1/#">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

      <!--   {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>

    <div class="app-dwp-card">
      <div class="app-card-title-wrapper">
        <h2 class="govuk-heading-m govuk-product">Request information about underpaid state pension for someone who has died</h2>
      </div>
      <div class="app-card-content">
        {{ govukTable({
          firstCellIsHeader: tue,
          classes: "govuk-!-width-two-thirds",
          head: [
          {
            text: "Version"
          },
          {
            text: "Phase"
          },
          {
            text: "Last updated"
          }
          ],  
          rows: [
            [
              {
                text: "Version 2"
              },
              {
                html: govukTag({ text: "Dependent on roadmap", classes: "govuk-tag--grey" })
              },
              {
                text: "-"
              }
            ],
            [
              {
                html: '<a class="govuk-link" href="request-information-about-underpaid-state-pension-for-someone-who-has-died/v1/index.html">Version 1</a>'
              },
              {
                html: govukTag({ text: "Live - Beta", classes: "govuk-tag--light-blue" })
              },
              {
                text: "-"
              }
            ]
          ]
        }) }}

        <!-- {{ govukButton({
          text: "View design history",
          classes: "govuk-button--secondary",
          href: "#"
        }) }} -->
    </div></div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}