{% extends "layouts/main.html" %}
{% extends "layouts/headers/contact-the-international-pension-centre.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Contact the  International Pension Centre
      </h1>

      <p class="govuk-body">Send an enquiry about pensions and benefits if you live abroad or have lived abroad.</p>
     
      <p class="govuk-body">Don't use this form to report a change in your circumstances (such as your address or bank details). You must do this <a href="https://www.gov.uk/international-pension-centre" class="govuk-link">by phone or in writing</a>.
      </p>

      <h2 class="govuk-heading-l">
        Your message
      </h2>

        <form class="form" action="/what-happens-next" method="post">
        {{ govukInput({
          label: {
            text: "Your full name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-20",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}


        {{ govukDateInput({
          fieldset: {
            legend: {
              text: "What is your date of birth?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 1948"
          }
        }) }}

        {{ govukTextarea({
          rows: "5",
          label: {
            text: "What's your enquiry?",
            classes: "govuk-label--m"
          }
        }) }}

        {{ govukButton({
          text: "Send your enquiry",
          href: "what-happens-next"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
