{% extends "layouts/main.html" %}
{% extends "layouts/headers/contact-the-international-pension-centre.html" %}

{% block pageTitle %}
  What happens next – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukPanel({
          titleText: "What happens next"
        }) }}

        <p class="govuk-body">The International Pension Centre reply to most emails within 10 working days. They will tell you if it will take longer to reply to your enquiry.</p>

        <p class="govuk-body">Read more about the <a href="" class="govuk-link">State Pension</a>.</p>

        <p class="govuk-body">Go to the <a href="https://www.gov.uk/" class="govuk-link">GOV.UK homepage</a>.</p>

    </div>
  </div>

{% endblock %}
