{% extends "layouts/headers/pension-credit-calculator.html" %}

{% block pageTitle %}
  Who lives with you - {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pension Credit calculator
    </h1>

    <form class="form" action="" method="post">

      <h2 class="govuk-heading-m">
        Who lives with you
      </h2>
    
      {{ govukCheckboxes({
        name: "lives-with-you",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Who lives with you?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "choose all that apply"
        },
        items: [
          {
            value: "Your partner",
            text: "Your partner"
          },
          {
            value: "Boarders and lodgers",
            text: "Boarders and lodgers"
          },
          {
            value: "Non-dependants (someone who lives with you but doesn’t depend on you financially, such as a relative, friend, or a child you no longer get Child Benefit for)",
            text: "Non-dependants (someone who lives with you but doesn’t depend on you financially, such as a relative, friend, or a child you no longer get Child Benefit for)"
          },
          {
            value: "Dependants (eg a child that you get Child Benefit for)",
            text: "Dependants (eg a child that you get Child Benefit for)"
          },
          {
            value: "Other (eg joint tenants or co-owners)",
            text: "Other (eg joint tenants or co-owners)"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Back",
        href: "calculator"
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "check-your-answers"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
