{% extends "layouts/main.html" %}
{% extends "layouts/headers/voluntary-national-insurance-contributions.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Request a call back to pay voluntary National Insurance contributions
    </h1>

    <p class="govuk-body">Complete this form if you're struggling to contact the Department for Work and Pensions (DWP) by phone to pay voluntary National Insurance Contributions.</p>
    <p class="govuk-body">DWP will contact you on the phone number you provide in this form to discuss payment of voluntary National Insurance contributions.</p>

    {{ govukInsetText({
        html: '<p class="govuk-body">If you submit a request by the 5 April 2025 deadline, you will still be able to pay voluntary National Insurance contributions after the deadline has passed.</p><p class="govuk-body">If you have already requested a call back, please do not send another request.</p>'
      }) }}
    
    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--m"
      },
      id: "full-name",
      name: "fullName",
      autocomplete: "name",
      spellcheck: false
    }) }}

   

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "state-pension-age",
  fieldset: {
    legend: {
      text: "Are you within 4 months of or over State Pension age?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: '<p class="govuk-body">You can <a href="https://www.gov.uk/state-pension-age">check you or your partner&#39;s State Pension age</a> if you&#39;re not sure.</p>'
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}


{% set ukHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contactByPhone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20",
  label: {
    text: "Phone number"
  }
}) }}
{% endset -%}

{% set abroadHtml %}
{{ govukInput({
  id: "contact-by-text",
  name: "contactByText",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20",
  label: {
    text: "Phone number"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Where do you live?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "We'll use this so the right team contacts you"
  },
  items: [
    {
      value: "UK",
      text: "UK",
      conditional: {
        html: ukHtml
      }
    },
    {
      value: "Abroad",
      text: "Abroad",
      conditional: {
        html: abroadHtml
      }
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "welsh",
  fieldset: {
    legend: {
      text: "If you live in Wales, would you like to speak to someone in Welsh? (Optional)",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

    {{ govukButton({
      text: "Send request",
      href: "what-happens-next"
    }) }}

  </div>
</div>

{% endblock %}
