{% extends "layouts/main.html" %}

{% set serviceName %}
  Contact the Winter Fuel Payment Centre
{% endset %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
   <!-- super renders the contents of the parent block inside a child block -->
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: "index.html"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact the Winter Fuel Payments Centre
      </h1>

      <p class="govuk-body">If you've claimed Winter Fuel Payment before, you should get it automatically.</p>

        <form class="form" action="/what-happens-next" method="post">
        {{ govukInput({
          label: {
            text: "Your full name",
            classes: "govuk-label--m "
          },
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Telephone (optional)",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For international numbers include the country code"
          },
          classes: "govuk-input--width-20"
        }) }}

       <!--  {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: "What do you need help with?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              text: "Eligibility"
            },
            {
              text: "Change of Circumstances"
            },
            {
              text: "How to make a WFP Claim"
            },
            {
              text: "How to claim death arrears"
            },
            {
              text: "Non-payment/payment amount query"
            },
            {
              text: "When will payment be made/received"
            }
          ]
        }) }} -->

        {{ govukTextarea({
          rows: "5",
          label: {
            text: "What's your enquiry?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Do not include personal or financial information, such as your National Insurance number or bank account details"
          }
        }) }}

        {{ govukButton({
          text: "Send your enquiry",
          href: "what-happens-next"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
