{% extends "layouts/main.html" %}
{% extends "layouts/headers/contact-winter-fuel-payments-centre.html" %}

{% block pageTitle %}
  {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact the Winter Fuel Payments Centre
      </h1>

       <p class="govuk-body">If you’ve claimed Winter Fuel Payment before, you should get it automatically.</p>

      <form class="form" action="/cwfpc-age" method="post">
       
        {{ govukRadios({
          name: "age-verification",
          fieldset: {
            legend: {
              text: "Were you born before 25 September 1957?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If you’re enquiring for someone else, were they born before 25 September 1957?"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
