{% extends "layouts/main.html" %}

{% set serviceName %}
  Contact the Winter Fuel Payment Centre
{% endset %}

{% block pageTitle %}
  You're not eligible for a Winter Fuel Payment - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You’re not eligible for a Winter Fuel Payment
      </h1>

      <p>You’re not eligible for a Winter Fuel payment if you were born on or after 25 September 1957.</p>

     <p> You may be able to get other help with heating costs:</p>
     
     <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.gov.uk/the-warm-home-discount-scheme">Warm Home Discount Scheme</a></li>
      <li><a class="govuk-link" href="https://www.gov.uk/cold-weather-payment">Cold Weather Payment</a> (in England and Wales)</li>
      <li><a class="govuk-link" href="https://www.mygov.scot/cold-weather-payment-is-changing">Winter Heating Payment</a> (in Scotland)</li>
    </ul>

     <p class="govuk-body">You can also check <a href="https://www.gov.uk/check-benefits-financial-support govuk-link--no-visited-state" class="govuk-link">what benefits and other financial support you can get</a>.</p>

      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
